<section class="py-24 bg-slate-600 w-full overflow-hidden" id="service-clients">
    <div class="w-full">
        <div>
            <h2 class="text-center text-white text-3xl font-semibold leading-normal text-white">Smart Typed Clients</h2>
            <p class="text-center text-2xl font-light leading-relaxed my-4 text-slate-400">
                Ultimate simple typed client integrations utilizing resilient message-based APIs and Rich POCO DTOs
            </p>
            <div class="flex flex-wrap justify-center gap-x-2">
                <a class="text-slate-500 text-center inline-flex items-center justify-center w-24 h-24 mb-6 shadow-lg rounded-full bg-white hover:opacity-80" href="https://docs.servicestack.net/csharp-add-servicestack-reference">
                    <img src="img/svgs/csharp.svg" style="transform:scale(.95)" alt="C#">
                </a>
                <a class="text-slate-500 text-center inline-flex items-center justify-center w-24 h-24 mb-6 shadow-lg rounded-full bg-white hover:opacity-80" href="https://docs.servicestack.net/typescript-add-servicestack-reference">
                    <img class="" src="img/svgs/node.svg" style="transform:scale(.9)" alt="Node.js">
                </a>
                <a class="text-slate-500 text-center inline-flex items-center justify-center w-24 h-24 mb-6 shadow-lg rounded-full bg-white hover:opacity-80" href="https://docs.servicestack.net/python-add-servicestack-reference">
                    <img src="img/svgs/python.svg" style="transform:scale(.90)" alt="Python">
                </a>
                <a class="text-slate-500 text-center inline-flex items-center justify-center w-24 h-24 mb-6 shadow-lg rounded-full bg-white hover:opacity-80" href="https://docs.servicestack.net/dart-add-servicestack-reference">
                    <img src="img/svgs/dart.svg" alt="Dart">
                </a>
                <a class="text-slate-500 text-center inline-flex items-center justify-center w-24 h-24 mb-6 shadow-lg rounded-full bg-white hover:opacity-80" href="https://docs.servicestack.net/java-add-servicestack-reference">
                    <img class="" src="img/svgs/java.svg" style="transform:scale(.9)" alt="Java">
                </a>
                <a class="text-slate-500 text-center inline-flex items-center justify-center w-24 h-24 mb-6 shadow-lg rounded-full bg-white hover:opacity-80" href="https://docs.servicestack.net/kotlin-add-servicestack-reference">
                    <img class="" src="img/svgs/kotlin.svg" style="transform:scale(.9)" alt="Kotlin">
                </a>
                <a class="text-slate-500 text-center inline-flex items-center justify-center w-24 h-24 mb-6 shadow-lg rounded-full bg-white hover:opacity-80" href="https://docs.servicestack.net/swift-add-servicestack-reference">
                    <img class="" src="img/svgs/swift.svg" style="transform:scale(.9)" alt="Swift">
                </a>
                <a class="text-slate-500 text-center inline-flex items-center justify-center w-24 h-24 mb-6 shadow-lg rounded-full bg-white hover:opacity-80" href="https://docs.servicestack.net/vbnet-add-servicestack-reference">
                    <img src="img/svgs/vb.svg" style="transform:scale(.95)" alt="VB">
                </a>
                <a class="text-slate-500 text-center inline-flex items-center justify-center w-24 h-24 mb-6 shadow-lg rounded-full bg-white hover:opacity-80" href="https://docs.servicestack.net/fsharp-add-servicestack-reference">
                    <img src="img/svgs/fsharp.svg" style="transform:scale(.95)" alt="F#">
                </a>
            </div>
        </div>
        <div class="mt-12">
            <h2 class="text-center text-white text-3xl font-semibold leading-normal text-white">gRPC</h2>
            <p class="text-center text-2xl font-light leading-relaxed my-4 text-slate-400">
                Reuse your future-proofed ServiceStack APIs to reach gRPC's efficient typed universe
            </p>
            <div class="flex flex-wrap justify-center gap-x-2">
                <a class="text-slate-500 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white hover:opacity-80" href="https://docs.servicestack.net/grpc-flutter">
                    <img class="" src="img/svgs/flutter.svg" style="transform:scale(.60) translateX(-15%)" alt="Flutter">
                </a>
                <a class="text-slate-500 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white hover:opacity-80" href="https://docs.servicestack.net/grpc-android">
                    <img class="" src="img/svgs/androidstudio.svg" style="transform:scale(.65)" alt="Android">
                </a>
                <a class="text-slate-500 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white hover:opacity-80" href="https://docs.servicestack.net/grpc-python">
                    <img class="" src="img/svgs/python.svg" style="transform:scale(.9)" alt="Python">
                </a>
                <a class="text-slate-500 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white hover:opacity-80" href="https://docs.servicestack.net/grpc-go">
                    <img class="" src="img/svgs/go.svg" style="transform:scale(.9)" alt="Go">
                </a>
                <a class="text-slate-500 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white hover:opacity-80" href="https://docs.servicestack.net/grpc-ruby">
                    <img class="" src="img/svgs/ruby.svg" style="transform:scale(.6)" alt="Ruby">
                </a>
                <a class="text-slate-500 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white hover:opacity-80" href="https://docs.servicestack.net/grpc-php">
                    <img class="" src="img/svgs/php.svg" style="transform:scale(.9)" alt="PHP">
                </a>
                <a class="text-slate-500 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white hover:opacity-80" href="https://docs.servicestack.net/grpc-csharp">
                    <img src="img/svgs/csharp.svg" style="transform:scale(.95)" alt="C#">
                </a>
                <a class="text-slate-500 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white hover:opacity-80" href="https://docs.servicestack.net/grpc-dart">
                    <img src="img/svgs/dart.svg" alt="Dart">
                </a>
                <a class="text-slate-500 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white hover:opacity-80" href="https://docs.servicestack.net/grpc-java">
                    <img class="" src="img/svgs/java.svg" style="transform:scale(.9)" alt="Java">
                </a>
                <a class="text-slate-500 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white hover:opacity-80" href="https://docs.servicestack.net/grpc-swift">
                    <img class="" src="img/svgs/swift.svg" style="transform:scale(.9)" alt="Swift">
                </a>
            </div>
        </div>
    </div>
</section>
