<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg" href="img/logo.svg">
    <title>Flutter - ServiceStack</title>
    <base href="/" />
    <script>
    const cls = document.querySelector('html').classList
    if (localStorage.getItem('color-scheme') === 'dark')
        cls.add('dark')
    else
        cls.remove('dark')
    </script>
    <link rel="stylesheet" href="css/app.css">

    <script async src="https://ga.jspm.io/npm:es-module-shims@1.6.3/dist/es-module-shims.js"></script>
    <script type="importmap">
{
    "imports": {
        "app.mjs": "./mjs/app.mjs",
        "dtos.mjs": "./mjs/dtos.mjs",
        "vue": "./lib/mjs/vue.min.mjs",
        "@servicestack/client": "./lib/mjs/servicestack-client.min.mjs",
        "@servicestack/vue": "./lib/mjs/servicestack-vue.min.mjs"
    }
}
</script>
</head>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TZZ1VK3VGL"></script>
<script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);}
gtag('js', new Date()); gtag('config', 'G-TZZ1VK3VGL');</script>

<body class="bg-white dark:bg-black dark:text-white">
<header class="top-0 fixed z-50 h-14 bg-white dark:bg-black opacity-90 w-full shadow pr-3">
    <div class="w-full flex flex-wrap items-center">
        <div class="absolute z-10 top-2 left-2 sm:static flex-shrink flex-grow-0">
            <div class="cursor-pointer">
                <a class="navbar-brand flex items-center" href="./">
                    <svg class="w-8 h-8 sm:ml-2 sm:w-12 sm:h-12 text-gray-900 dark:text-gray-50" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="currentColor" d="M10 6c1.544 1.76 2.276 4.15 2.217 6.61c3.968 1.67 9.924 6.12 11.181 12.39H28C26.051 14.31 14.918 6.77 10 6zm-2 7c4.67 4.913.81 11.582-4 12h18.97C21.5 18.289 11.95 13.533 8 13z"/></svg>
                    <span class="hidden sm:block text-2xl font-bold text-gray-900 dark:text-gray-50">ServiceStack Flutter</span>
                </a>
            </div>
        </div>
        <div class="flex flex-grow flex-shrink flex-nowrap justify-end items-center">
            <nav class="relative flex flex-grow leading-6 font-semibold text-slate-700 dark:text-slate-200">
                <ul class="flex flex-wrap items-center justify-end w-full m-0 pb-2 sm:pb-0">
                            <li class="relative flex flex-wrap just-fu-start m-0">
                                <a href="https://servicestack.net/whatsnew" class="p-4 flex items-center justify-start mw-full hover:text-sky-500 dark:hover:text-sky-400">
                                    What's New
                                </a>
                            </li>
                            <li class="relative flex flex-wrap just-fu-start m-0">
                                <a href="https://servicestack.net/blog" class="p-4 flex items-center justify-start mw-full hover:text-sky-500 dark:hover:text-sky-400">
                                    Blog
                                </a>
                            </li>
                            <li class="relative flex flex-wrap just-fu-start m-0 hidden lg:block">
                                <a href="https://docs.servicestack.net" class="p-4 flex items-center justify-start mw-full hover:text-sky-500 dark:hover:text-sky-400">
                                    Docs
                                </a>
                            </li>
                            <li class="relative flex flex-wrap just-fu-start m-0 hidden lg:block">
                                <a href="https://forums.servicestack.net" class="p-4 flex items-center justify-start mw-full hover:text-sky-500 dark:hover:text-sky-400">
                                    Forums
                                </a>
                            </li>
                            <li class="relative flex flex-wrap just-fu-start m-0">
                                <a href="https://account.servicestack.net/free" class="p-4 flex items-center justify-start mw-full hover:text-sky-500 dark:hover:text-sky-400">
                                    Free
                                </a>
                            </li>
                            <li class="relative flex flex-wrap just-fu-start m-0">
                                <a href="https://account.servicestack.net/trial" class="p-4 flex items-center justify-start mw-full hover:text-sky-500 dark:hover:text-sky-400">
                                    Trial
                                </a>
                            </li>
                            <li class="relative flex flex-wrap just-fu-start m-0">
                                <a href="https://account.servicestack.net/pricing" class="p-4 flex items-center justify-start mw-full hover:text-sky-500 dark:hover:text-sky-400">
                                    Pricing
                                </a>
                            </li>
                            <li class="relative flex flex-wrap just-fu-start m-0">
                                <a href="https://account.servicestack.net/account/subscription" class="p-4 flex items-center justify-start mw-full hover:text-sky-500 dark:hover:text-sky-400 text-gray-50 sm:text-slate-700 dark:text-gray-50">
                                    Sign In
                                </a>
                            </li>
                    <li class="relative flex flex-wrap just-fu-start m-0">
                        <div data-component="DarkModeToggle" class="ml-2 w-10"></div>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</header>
<script type="module">
import { mountAll } from "app.mjs"
mountAll()
</script>


<div class="min-h-screen">
    <main role="main" class="pt-14">
        

<link rel="stylesheet" href="css/typography.css">
<link rel="stylesheet" href="css/lite-yt-embed.css">
<script src="js/lite-yt-embed.js"></script>

<link rel="stylesheet" href="css/highlight.css">
<script src="js/highlight.js"></script>


<section class="relative isolate overflow-hidden bg-slate-900" style="background-image:radial-gradient(ellipse at bottom,#1a68d3 5%,transparent 60%),linear-gradient(136deg,transparent,#71c7ee 290%),linear-gradient(115deg,#9d9af1,transparent 40%),linear-gradient(180deg,transparent 0,#1a68d3 70%),radial-gradient(ellipse at -70% -180%,transparent 80%,#71c7ee 0),radial-gradient(ellipse at bottom,#1a68d3 40%,transparent 80%),radial-gradient(ellipse at 5% 340%,transparent 80%,#bfc2f4 0)">
    <svg viewBox="0 0 1108 632" aria-hidden="true" class="absolute top-10 left-[calc(50%-4rem)] -z-10 w-[69.25rem] max-w-none transform-gpu blur-3xl sm:left-[calc(50%-18rem)] lg:left-48 lg:top-[calc(50%-30rem)] xl:left-[calc(50%-24rem)]">
        <path fill="url(#175c433f-44f6-4d59-93f0-c5c51ad5566d)" fill-opacity=".2" d="M235.233 402.609 57.541 321.573.83 631.05l234.404-228.441 320.018 145.945c-65.036-115.261-134.286-322.756 109.01-230.655C968.382 433.026 1031 651.247 1092.23 459.36c48.98-153.51-34.51-321.107-82.37-385.717L810.952 324.222 648.261.088 235.233 402.609Z"/>
        <defs>
            <linearGradient id="175c433f-44f6-4d59-93f0-c5c51ad5566d" x1="1220.59" x2="-85.053" y1="432.766" y2="638.714" gradientUnits="userSpaceOnUse">
                <stop stop-color="#4F46E5"/>
                <stop offset="1" stop-color="#80CAFF"/>
            </linearGradient>
        </defs>
    </svg>
    <div class="mx-auto max-w-7xl px-6 pt-16 pb-16 lg:flex lg:px-8">
        <div class="mx-auto max-w-2xl flex-shrink-0 lg:mx-0 lg:max-w-xl lg:pt-8">
            <h1 class="mt-4 text-4xl tracking-tight font-extrabold text-white sm:mt-5 sm:text-6xl lg:mt-6 xl:text-6xl">
                <span class="block">Flutter</span>
            </h1>
            <p class="mt-3 text-base text-gray-100 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl">
                Experience the amazing productivity &amp; type safety from effortlessly calling .NET APIs from Flutter and Dart Apps
            </p>
        <div class="mt-10 align-top">
            <lite-youtube class="max-w-xl aspect-video" videoid="t4WcXo4Vnio"
                          style="background-image: url('https://img.youtube.com/vi/t4WcXo4Vnio/maxresdefault.jpg')">
            </lite-youtube>
            </div>
            <div class="mt-10 flex items-center gap-x-6">
                <a href="https://docs.servicestack.net/flutter" class="rounded-md bg-white/10 py-2.5 px-3.5 font-semibold text-white shadow-sm hover:bg-white/20">Learn more</a>
            </div>
        </div>
        <div class="mx-auto mt-16 flex max-w-2xl lg:ml-10 lg:mt-0 lg:mr-0 lg:max-w-none lg:flex-none xl:ml-32">
            <div class="max-w-3xl flex-none sm:max-w-5xl lg:max-w-none">
                <!-- CCA4 https://flutter.dev -->
                <img src="/img/pages/flutter/flutter-mobile.png" alt="App screenshot" width="1316" height="1072" class="w-[50rem] rounded-md py-8 bg-white/5 shadow-2xl ring-1 ring-white/10">
            </div>
        </div>
    </div>
</section>



<section>
    <div class="sticky top-0 z-50">
        <div id="mobile-nav"></div>
        <div class="hidden sm:flex sm:h-32 sm:justify-center sm:border-b sm:border-slate-200 dark:sm:border-slate-700 sm:bg-white/95 dark:bg-black/95 sm:[@supports(backdrop - filter:blur(0))]:bg-white/80 dark:sm:[@supports(backdrop - filter:blur(0))]:bg-black/80 sm:[@supports(backdrop - filter:blur(0))]:backdrop-blur">
            <ol role="list" class="mb-[-2px] grid auto-cols-[minmax(0,15rem)] grid-flow-col text-base font-medium text-slate-900 dark:text-slate-50 [counter-reset:section]">
                        <li class="flex [counter-increment:section]">
                                <a class="flex w-full flex-col items-center justify-center border-b-2 before:mb-2 before:font-mono before:text-sm before:content-[counter(section,decimal-leading-zero)] border-transparent before:text-slate-500 hover:bg-blue-50/40 hover:before:text-slate-900" href="./">
                                    <span class="hidden lg:inline">ServiceStack APIs</span><span class="lg:hidden">APIs</span>
                                </a>
                        </li>
                        <li class="flex [counter-increment:section]">
                                <a class="flex w-full flex-col items-center justify-center border-b-2 before:mb-2 before:font-mono before:text-sm before:content-[counter(section,decimal-leading-zero)] border-transparent before:text-slate-500 hover:bg-blue-50/40 hover:before:text-slate-900" href="auto-ui">
                                    <span class="hidden lg:inline">Built In UIs</span><span class="lg:hidden">UIs</span>
                                </a>
                        </li>
                        <li class="flex [counter-increment:section]">
                                <a class="flex w-full flex-col items-center justify-center border-b-2 before:mb-2 before:font-mono before:text-sm before:content-[counter(section,decimal-leading-zero)] border-transparent before:text-slate-500 hover:bg-blue-50/40 hover:before:text-slate-900" href="autoquery">
                                    AutoQuery
                                </a>
                        </li>
                        <li class="flex [counter-increment:section]">
                                <a class="flex w-full flex-col items-center justify-center border-b-2 before:mb-2 before:font-mono before:text-sm before:content-[counter(section,decimal-leading-zero)] border-transparent before:text-slate-500 hover:bg-blue-50/40 hover:before:text-slate-900" href="blazor">
                                    Blazor
                                </a>
                        </li>
                        <li class="flex [counter-increment:section]">
                                <a class="flex w-full flex-col items-center justify-center border-b-2 before:mb-2 before:font-mono before:text-sm before:content-[counter(section,decimal-leading-zero)] border-blue-600 dark:border-blue-300 bg-blue-50 dark:bg-blue-900 text-blue-600 dark:text-blue-300 before:text-blue-600" href="flutter">
                                    Flutter
                                </a>
                        </li>
            </ol>
        </div>
    </div>
</section>

<template id="mobile-nav-template">
    <div class="sm:hidden">
        <div class="relative flex items-center px-4 py-3 bg-white/95 shadow-sm [@supports(backdrop-filter:blur(0))]:bg-white/80 [@supports(backdrop-filter:blur(0))]:backdrop-blur">
                        <span aria-hidden="true" class="font-mono text-sm text-blue-600">05</span>
                        <span class="ml-4 text-base font-medium text-slate-900">Flutter</span>
            <button v-on:click="expanded=!expanded" :class="['-mr-1 ml-auto flex h-8 w-8 items-center justify-center', expanded ? 'relative z-10' : '']" aria-label="Toggle navigation menu" type="button" aria-expanded="false">
                <span class="absolute inset-0"></span>
                <svg v-if="!expanded" class="h-6 w-6 stroke-slate-700" aria-hidden="true" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24"><path d="m15 16-3 3-3-3M15 8l-3-3-3 3"></path></svg>
                <svg v-else class="h-6 w-6 stroke-slate-700" aria-hidden="true" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24"><path d="M17 7 7 17M7 7l10 10"></path></svg>
            </button>
        </div>
        <div v-if="!expanded" class="absolute inset-x-0 bottom-full z-10 h-4 bg-white"></div>
        <div v-else class="absolute inset-x-0 top-0 bg-white/95 py-3.5 shadow-sm [@supports(backdrop-filter:blur(0))]:bg-white/80 [@supports(backdrop-filter:blur(0))]:backdrop-blur" tabindex="-1">
                    <a class="flex items-center px-4 py-1.5" href="./">
                        <span aria-hidden="true" class="font-mono text-sm text-blue-600">01</span>
                        <span class="ml-4 text-base font-medium text-slate-900"><span class="hidden lg:inline">ServiceStack APIs</span><span class="lg:hidden">APIs</span></span>
                    </a>
                    <a class="flex items-center px-4 py-1.5" href="auto-ui">
                        <span aria-hidden="true" class="font-mono text-sm text-blue-600">02</span>
                        <span class="ml-4 text-base font-medium text-slate-900"><span class="hidden lg:inline">Built In UIs</span><span class="lg:hidden">UIs</span></span>
                    </a>
                    <a class="flex items-center px-4 py-1.5" href="autoquery">
                        <span aria-hidden="true" class="font-mono text-sm text-blue-600">03</span>
                        <span class="ml-4 text-base font-medium text-slate-900">AutoQuery</span>
                    </a>
                    <a class="flex items-center px-4 py-1.5" href="blazor">
                        <span aria-hidden="true" class="font-mono text-sm text-blue-600">04</span>
                        <span class="ml-4 text-base font-medium text-slate-900">Blazor</span>
                    </a>
                    <a class="flex items-center px-4 py-1.5" href="flutter">
                        <span aria-hidden="true" class="font-mono text-sm text-blue-600">05</span>
                        <span class="ml-4 text-base font-medium text-slate-900">Flutter</span>
                    </a>
        </div>
    </div>
</template>

<script type="module">
import { ref } from "vue"
import { mount } from "app.mjs"

const MobileNav = {
    template:document.querySelector('#mobile-nav-template'),
    setup() {
        const expanded = ref(false)
        return { expanded }
    }
}
mount('#mobile-nav', MobileNav)
</script>

<a id="videos"></a>


<!-- BSD License: https://docs.servicestack.net/BSD-LICENSE.txt -->
<section>
    <div class="bg-white dark:bg-black py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-5xl">
                <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Flutter iOS and Android Apps</h2>
                <p class="mt-2 text-lg leading-8 text-gray-600">
                    Rapidly develop beautiful native cross-platform iOS and Android Apps with Flutter&#x27;s beautiful widgets calling ServiceStack&#x27;s HTTP and gRPC end-to-end typed .NET API integrations
                        <a href="https://docs.servicestack.net/flutter" class="ml-2 text-sm font-semibold leading-6">Learn more <span aria-hidden="true">→</span></a>                
                </p>
                <div class="mt-16 space-y-20 lg:mt-20 lg:space-y-20">
                        <article class="relative isolate flex flex-col gap-8 lg:flex-row">
                            <div class="relative lg:w-1/2 lg:shrink-0">
                                <lite-youtube width="560" height="315" videoid="t4WcXo4Vnio" class="border border-slate-300 dark:border-slate-600"
                                              style="margin-bottom:3px;background-image: url('https://img.youtube.com/vi/t4WcXo4Vnio/maxresdefault.jpg')">
                                </lite-youtube>
                            </div>
                            <div>
                                <div class="flex items-center gap-x-4 text-xs">
                                    <time datetime="2020-03-16" class="text-gray-500">March 27, 2023</time>
                                        <span class="relative z-10 rounded-full bg-gray-50 dark:bg-gray-900 py-1.5 px-3 font-medium text-gray-600 dark:text-gray-300">flutter</span>
                                        <span class="relative z-10 rounded-full bg-gray-50 dark:bg-gray-900 py-1.5 px-3 font-medium text-gray-600 dark:text-gray-300">android</span>
                                        <span class="relative z-10 rounded-full bg-gray-50 dark:bg-gray-900 py-1.5 px-3 font-medium text-gray-600 dark:text-gray-300">api</span>
                                </div>
                                <div class="group relative max-w-xl">
                                    <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                                        <a href="https://youtu.be/t4WcXo4Vnio">
                                            Flutter Todo App with .NET API, from Scratch in Minutes
                                        </a>
                                    </h3>
                                    <div class="mt-5 text-sm leading-6 text-gray-600">
                                        <div class="prose">
                                            <p>This video starts from scratch, walking through installing Flutter SDK,
before adding a new native Flutter App to a new .NET Blazor Server project -
giving our existing TODO Blazor Web App new native iOS &amp; Android native UIs</p>
<p>Next, we'll demonstrate the iterative development workflow of making changes
to backend .NET APIs that's easily kept in-sync with our clients Dart DTOs
from within Android Studio or command-line</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="relative isolate flex flex-col gap-8 lg:flex-row">
                            <div class="relative lg:w-1/2 lg:shrink-0">
                                <lite-youtube width="560" height="315" videoid="eMbwaMuIk84" class="border border-slate-300 dark:border-slate-600"
                                              style="margin-bottom:3px;background-image: url('https://img.youtube.com/vi/eMbwaMuIk84/maxresdefault.jpg')">
                                </lite-youtube>
                            </div>
                            <div>
                                <div class="flex items-center gap-x-4 text-xs">
                                    <time datetime="2020-03-16" class="text-gray-500">March 27, 2023</time>
                                        <span class="relative z-10 rounded-full bg-gray-50 dark:bg-gray-900 py-1.5 px-3 font-medium text-gray-600 dark:text-gray-300">flutter</span>
                                        <span class="relative z-10 rounded-full bg-gray-50 dark:bg-gray-900 py-1.5 px-3 font-medium text-gray-600 dark:text-gray-300">android</span>
                                        <span class="relative z-10 rounded-full bg-gray-50 dark:bg-gray-900 py-1.5 px-3 font-medium text-gray-600 dark:text-gray-300">api</span>
                                </div>
                                <div class="group relative max-w-xl">
                                    <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                                        <a href="https://youtu.be/eMbwaMuIk84">
                                            Use Flutter to build a Bookings App Fast
                                        </a>
                                    </h3>
                                    <div class="mt-5 text-sm leading-6 text-gray-600">
                                        <div class="prose">
                                            <p>In this video, we'll show how we can rapidly develop a new Flutter Android Bookings App
added to a new <a href="https://vue-mjs.web-templates.io">vue-mjs</a> .NET Project using <code>x mix flutter</code></p>
<p>Next, we'll dive into the development process, where we'll demonstrate the productivity
of calling typed .NET APIs using typed Dart DTOs for end-to-end typed integrations
that can be effortlessly updated from within Android Studio</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="relative isolate flex flex-col gap-8 lg:flex-row">
                            <div class="relative lg:w-1/2 lg:shrink-0">
                                <lite-youtube width="560" height="315" videoid="ocH5L-CikQ0" class="border border-slate-300 dark:border-slate-600"
                                              style="margin-bottom:3px;background-image: url('https://img.youtube.com/vi/ocH5L-CikQ0/maxresdefault.jpg')">
                                </lite-youtube>
                            </div>
                            <div>
                                <div class="flex items-center gap-x-4 text-xs">
                                    <time datetime="2020-03-16" class="text-gray-500">April 29, 2021</time>
                                        <span class="relative z-10 rounded-full bg-gray-50 dark:bg-gray-900 py-1.5 px-3 font-medium text-gray-600 dark:text-gray-300">flutter</span>
                                        <span class="relative z-10 rounded-full bg-gray-50 dark:bg-gray-900 py-1.5 px-3 font-medium text-gray-600 dark:text-gray-300">android</span>
                                        <span class="relative z-10 rounded-full bg-gray-50 dark:bg-gray-900 py-1.5 px-3 font-medium text-gray-600 dark:text-gray-300">apis</span>
                                </div>
                                <div class="group relative max-w-xl">
                                    <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                                        <a href="https://youtu.be/ocH5L-CikQ0">
                                            Call .NET APIs from a Flutter Android App with native Dart
                                        </a>
                                    </h3>
                                    <div class="mt-5 text-sm leading-6 text-gray-600">
                                        <div class="prose">
                                            <p>In this video we should how you can quickly get up and running using ServiceStack's
Dart client library with your Flutter Android or iOS Apps
to generate native typed Dart DTOs with <a href="https://docs.servicestack.net/dart-add-servicestack-reference">Add ServiceStack Reference</a>
enabling end-to-end typed integrations to call .NET APIs from Flutter Mobile, Desktop and Dart Web Apps</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- BSD License: https://docs.servicestack.net/BSD-LICENSE.txt -->
<section>
    <div class="bg-slate-100 dark:bg-slate-800 py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-5xl">
                <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Dart and Flutter gRPC</h2>
                <p class="mt-2 text-lg leading-8 text-gray-600">
                    ServiceStack gRPC is an alternative approach for enabling high-performance end-to-end typed APIs using gRPC generated clients that benefits from ServiceStack&#x27;s simplified gRPC tooling and reuse of existing HTTP APIs
                        <a href="https://docs.servicestack.net/grpc" class="ml-2 text-sm font-semibold leading-6">Learn more <span aria-hidden="true">→</span></a>                
                </p>
                <div class="mt-16 space-y-20 lg:mt-20 lg:space-y-20">
                        <article class="relative isolate flex flex-col gap-8 lg:flex-row">
                            <div class="relative lg:w-1/2 lg:shrink-0">
                                <lite-youtube width="560" height="315" videoid="fgts6sQ2Ags" class="border border-slate-300 dark:border-slate-600"
                                              style="margin-bottom:3px;background-image: url('https://img.youtube.com/vi/fgts6sQ2Ags/maxresdefault.jpg')">
                                </lite-youtube>
                            </div>
                            <div>
                                <div class="flex items-center gap-x-4 text-xs">
                                    <time datetime="2020-03-16" class="text-gray-500">March 27, 2023</time>
                                        <span class="relative z-10 rounded-full bg-gray-50 dark:bg-gray-900 py-1.5 px-3 font-medium text-gray-600 dark:text-gray-300">grpc</span>
                                        <span class="relative z-10 rounded-full bg-gray-50 dark:bg-gray-900 py-1.5 px-3 font-medium text-gray-600 dark:text-gray-300">flutter</span>
                                        <span class="relative z-10 rounded-full bg-gray-50 dark:bg-gray-900 py-1.5 px-3 font-medium text-gray-600 dark:text-gray-300">android</span>
                                </div>
                                <div class="group relative max-w-xl">
                                    <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                                        <a href="https://youtu.be/fgts6sQ2Ags">
                                            Fastest way to a working gRPC Server and Flutter solution
                                        </a>
                                    </h3>
                                    <div class="mt-5 text-sm leading-6 text-gray-600">
                                        <div class="prose">
                                            <p>In this video we'll walk through configuring Flutter and gRPC .NET Services with the <code>flutter-grpc</code> mix template
to add a new Flutter application using your locally installed <strong>Flutter SDK</strong> to an existing ServiceStack <code>grpc</code> project
that has been configured to support gRPC services</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="relative isolate flex flex-col gap-8 lg:flex-row">
                            <div class="relative lg:w-1/2 lg:shrink-0">
                                <lite-youtube width="560" height="315" videoid="UQlYodNS1xc" class="border border-slate-300 dark:border-slate-600"
                                              style="margin-bottom:3px;background-image: url('https://img.youtube.com/vi/UQlYodNS1xc/maxresdefault.jpg')">
                                </lite-youtube>
                            </div>
                            <div>
                                <div class="flex items-center gap-x-4 text-xs">
                                    <time datetime="2020-03-16" class="text-gray-500">May 13, 2021</time>
                                        <span class="relative z-10 rounded-full bg-gray-50 dark:bg-gray-900 py-1.5 px-3 font-medium text-gray-600 dark:text-gray-300">dart</span>
                                        <span class="relative z-10 rounded-full bg-gray-50 dark:bg-gray-900 py-1.5 px-3 font-medium text-gray-600 dark:text-gray-300">grpc</span>
                                </div>
                                <div class="group relative max-w-xl">
                                    <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                                        <a href="https://youtu.be/UQlYodNS1xc">
                                            Enabling Dart gRPC support to ServiceStack .NET Apps
                                        </a>
                                    </h3>
                                    <div class="mt-5 text-sm leading-6 text-gray-600">
                                        <div class="prose">
                                            <p>In this video we walk through how to enable gRPC endpoints for your existing ServiceStack services
and how the <a href="https://docs.servicestack.net/dotnet-tool">x dotnet tool</a> greatly
simplifies the development workflow of maintaining in-sync client integrations in a simple and consistent
way across all gRPC languages</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="getting-started">
    <div class="bg-white dark:bg-black py-32 px-6 lg:px-8">
    <div class="mx-auto max-w-4xl text-base leading-7 text-gray-700">
    <a href="flutter#getting-started" class="block text-base font-semibold leading-7 text-indigo-600">Getting Started</a>
    <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Create a Flutter App with a .NET API backend
    </h1>
    <p class="mt-6 text-xl leading-8">
        In this example we'll walk through creating a new Flutter Mobile App with a 
        .NET API backend and demonstrate the development workflow of calling new .NET APIs
        with typed client APIs from Flutter
    </p>
    <div class="mt-10 max-w-2xl">
        <h2 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-gray-50">Pre-requisites</h2>
        <p class="my-4">
            Ensure you have the <a class="text-indigo-600 hover:text-indigo-800" href="https://docs.flutter.dev/get-started/install/windows">Flutter SDK</a>
            and the <a class="text-indigo-600 hover:text-indigo-800" href="https://docs.servicestack.net/dotnet-tool">x dotnet tool</a> installed:
        </p>
        <div data-component="CopyLine" data-props="{ prefix:'$ ', text:'dotnet tool install --global x' }"></div>

        <p class="my-4">
            Both Flutter and .NET have great CLI tooling where you can get a great development experience using a 
            text editor like 
            <a class="text-indigo-600 hover:text-indigo-800" href="https://code.visualstudio.com/">VS Code</a>
            with its great multi-terminal support, or if preferred, full-featured IDEs like 
            <a class="text-indigo-600 hover:text-indigo-800" href="https://docs.flutter.dev/get-started/install/windows#android-setup">Android Studio</a>
            and
            <a class="text-indigo-600 hover:text-indigo-800" href="https://www.jetbrains.com/rider/">JetBrains Rider</a>
            for even richer tooling.
        </p>
    </div>
        
    <div class="mt-10 max-w-2xl">
        <h2 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-gray-50">1. Create your .NET Project</h2>

        <p class="my-4">
            Start with your <a class="text-indigo-600 hover:text-indigo-800" href="start">preferred project</a>, 
            or create an empty Project with your preferred project name:
        </p>
            
        <div data-component="CopyLine" data-props="{ prefix:'$ ', text:'x new web MyApp' }"></div>

        <p class="my-4">
            That can be run immediately in the <b>Host</b> project with dotnet watch for a live reload dev UX:
        </p>
            
        <div data-component="CopyLine" data-props="{ prefix:'$ ', text:'dotnet watch' }"></div>
            
    </div>
        
    <div class="mt-10 max-w-2xl">
        <h2 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-gray-50">2. Add a new Flutter App to your project</h2>
        <p class="my-4">
            Then from a new Terminal in your Solution folder (e.g. <b>MyApp</b>), add a new Flutter App with: 
        </p>
            
        <div data-component="CopyLine" data-props="{ prefix:'$ ', text:'x mix flutter' }"></div>

        <p class="my-4">
            This will run <b>flutter create</b> to add a new Flutter App to your solution that should look like: 
        </p>

        <figure class="mt-4">
            <a href="https://docs.servicestack.net/flutter"><img class="bg-gray-50 rounded shadow hover:shadow-lg" src="/img/pages/flutter/flutter-mix-project-structure.png" alt=""></a>
        </figure>
            
        <p class="my-4">
            It also adds the <b>servicestack</b> client library package that's pre-configured to 
            call the default <b>Hello</b> API in new ServiceStack projects which we can test
            by running fluter from <b>myapp_flutter</b>:
        </p>

        <div data-component="CopyLine" data-props="{ prefix:'$ ', text:'flutter run' }"></div>

        <p class="my-4">
            We recommend choosing <b>[1]</b> to run the Flutter App as a Windows Desktop App for the best dev UX on Windows,
            which after a few moments should open the Hello App in a Desktop App:
        </p>
            
        <figure class="mt-4">
            <a href="https://docs.flutter.dev/get-started/codelab">
                <img class="bg-gray-50 shadow hover:shadow-lg" src="/img/pages/flutter/flutter-hello.png" alt=""></a>
        </figure>
    </div>
        
    <div class="mt-10 max-w-2xl">
        <h2 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-gray-50">3. Create your .NET API</h2>
        <p class="my-4">
            Lets create a new API to preview the typical dev workflow of calling new .NET APIs from Flutter.
            First we'll want to define our API's Service Contract with the Request and Response DTOs the API
            will accept and return in:
        </p>

        <b>MyApp.ServiceModel/SearchFiles.cs</b>
            
        <pre><code class="language-csharp">using ServiceStack;
using System.Collections.Generic;

namespace MyApp.ServiceModel;

public class SearchFiles : IReturn&lt;SearchFilesResponse&gt;
{
   public string Pattern { get; set; }
}

public class SearchFilesResponse
{
   public List&lt;string&gt; Results { get; set; }
}
</code></pre>

        <p class="my-4">
            Then add its Implementation that scans the .NET App's folder for files and returns the results: 
        </p>

        <b>MyApp.ServiceInterface/SearchFilesService.cs</b>
            
        <pre><code class="language-csharp">using ServiceStack;
using MyApp.ServiceModel;

namespace MyApp.ServiceInterface;

public class SearchFilesServices : Service
{
   public object Any(SearchFiles request)
   {
       var files = VirtualFiles.GetAllMatchingFiles(request.Pattern ?? "*");
       return new SearchFilesResponse {
           Results = files.Map(x => x.VirtualPath)
       };
   }
}
</code></pre>
            
        <p class="my-4">
            <b>dotnet watch</b> should automatically detect the changes and reload the App to take effect.
        </p>
    </div>
        
    <div class="mt-10 max-w-2xl">
        <h2 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-gray-50">3. Update Flutter App</h2>
        <p class="my-4">
            Then to update our clients Dart DTOs we just need to run <b>x dart</b> from the Flutter project:
        </p>

        <div data-component="CopyLine" data-props="{ prefix:'$ ', text:'x dart' }"></div>

        <p class="my-4">
            Which can now be used in our App, by replacing the <b>callService()</b> and <b>build()</b> methods with:
        </p>

        <pre><code class="language-dart">void callService() async {
 var response = await client.get(SearchFiles(pattern: myController.text));
 setState(() {
   result = response.results!.join('\n');
 });
}

@override
Widget build(BuildContext context) {
 return Scaffold(
   appBar: AppBar(title: Text(widget.title),),
   body: Center(
     child: Column(
       mainAxisAlignment: MainAxisAlignment.center,
       children: &lt;Widget&gt;[
         Container(
           padding: const EdgeInsets.only(top: 20),
           margin: const EdgeInsets.only(left: 100.0, right: 100.0),
           child: Column(
             children: [
               const Text(
                 'Search Files',
                 style:
                     TextStyle(fontWeight: FontWeight.bold, fontSize: 24.0),
               ),
               TextField(
                 decoration: const InputDecoration(
                   border: OutlineInputBorder(),
                   hintText: '*',
                 ),
                 controller: myController,
               )
             ],
           ),
         ),
         Padding(
           padding: const EdgeInsets.all(8.0),
           child: Text(
             result,
             style: const TextStyle(fontSize: 18),
           ),
         ),
       ],
     ),
   ),
 );
}
</code></pre>

        <p class="my-4">
            Which after a restart should now call our new <b>SearchFiles</b> API returning .NET App files that
            match the specified pattern:
        </p>

        <figure class="mt-4">
            <a href="https://docs.servicestack.net/flutter">
                <img class="bg-gray-50 shadow hover:shadow-lg" src="/img/pages/flutter/flutter-search-files.png" alt=""></a>
        </figure>
    </div>
        
    <div class="mt-10 max-w-2xl">
        <p class="my-4">
            We hope this was a good waltkthrough to showcase the simplified end-to-end typed dev model for working
            with ServiceStack's APIs, be sure to check out the 
            <a class="text-indigo-600 hover:text-indigo-800" href="flutter#videos">Flutter videos</a> for more in-depth
            explanations or head over to our 
            <a class="text-indigo-600 hover:text-indigo-800" href="https://docs.servicestack.net/#community-support">Support Channels</a>
            if you have any issues or questions.
        </p>
    </div>
    </div>
    </div>
</section>

<div class="buttons my-8 flex text-center justify-center">
    <a href="https://account.servicestack.net/free" class="cursor-pointer text-2xl font-normal bg-blue-500 hover:bg-blue-600 text-white hover:text-white shadow-xl px-6 py-3 inline-block text-blue-100 rounded">
        Free for Individuals & OSS
    </a>
    <span class="mx-1"></span>
    <a href="https://account.servicestack.net/trial" class="cursor-pointer text-2xl font-normal bg-blue-500 hover:bg-blue-600 text-white hover:text-white shadow-xl px-6 py-3 inline-block text-blue-100 rounded">
        30 Day Free Trial
    </a>
</div>

<div class="text-center mb-8 pb-8 text-2xl text-slate-500 hover:text-slate-800 dark:hover:text-slate-100">
    <a href="https://account.servicestack.net/pricing">See Pricing</a>
</div>

<!-- CAROUSEL AND LIGHTBOX -->
<link rel="stylesheet" href="css/owl.theme.css">
<link rel="stylesheet" href="css/owl.carousel.css">
<link rel="stylesheet" href="css/nivo-lightbox.css">
<link rel="stylesheet" href="css/nivo_themes/default/default.css">

<link rel="stylesheet" href="css/lite-yt-embed.css">
<link rel="stylesheet" href="css/flip.min.css">

<style>
.testimonials {
    background: url(/img/backgrounds/bg-header.jpg) no-repeat center top fixed;
    z-index: -1;
    -webkit-background-size: cover;
    background-size: cover;
    color: #ffffff;
}
.testimonials .color-overlay {
    padding-top: 110px;
    padding-bottom: 110px;
}
.testimonials .feedback {
    max-width: 750px;
    margin: auto;
}
.testimonials .feedback .image {
    font-size: 24px;
    border: 2px solid transparent;
    -webkit-box-shadow: 0px 0px 0px 2px #ffffff;
    box-shadow: 0px 0px 0px 2px #ffffff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin: 5px auto auto;
    overflow: hidden;
}
.testimonials .feedback .image img {
    width: 100%;
    vertical-align: top;
}
.testimonials .feedback .message {
    font-size: 18px;
    font-style: italic;
    margin-top: 40px;
    margin-bottom: 30px;
}
.testimonials .feedback blockquote {
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C" "\201D";
    border: none;
    display: block;
}
.testimonials .feedback blockquote:before {
    opacity: 40%;
    content: open-quote;
    font-size: 5em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
.testimonials .feedback .name {
    margin-top: 15px;
    font-weight: 400;
}

.testimonials .feedback .company-info {
    font-size: 12px;
}
.testimonials .owl-theme .owl-controls .owl-page span {
    background: #ffffff;
    border-radius: 50%;
}
.testimonials .customNavigation a {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#feedbacks .owl-dots .owl-dot span {
    width:5px;
    height:5px;
}
#feedbacks .owl-dot span { background: rgba(255,255,255,.5) !important; }
#feedbacks .owl-dot.active span { background: #fff !important; }
.owl-theme .owl-nav [class*='owl-']:hover {
    background: transparent;
}
.owl-nav {
    display: flex;
    justify-content: space-between;
    margin: -200px 0 120px 0 !important;
}
.owl-prev, .owl-next {
    width: 60px;
    height: 100%;
    margin: 10px 0;
    display: block;
    z-index: 1;
    opacity: .2;
    transition: opacity .3s;
}
.owl-prev:hover, .owl-next:hover {
    opacity: 1;
    transition: opacity .3s;
}
.owl-prev:focus, .owl-next:focus, .owl-dot:focus {
    outline: none;
}
</style>

<script src="js/jquery-1.9.1.min.js"></script><!-- legacy only for / -->
<script src="js/owl.carousel.min.js"></script>
<script src="js/nivo-lightbox.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/lite-yt-embed.js"></script>
<script src="js/tweets.js"></script>
<script src="js/flip.min.js"></script>

<div class="text-center">
    <section class="testimonials">
        <div class="color-overlay">
            <div class="mx-auto max-w-7xl">
                <div id="feedbacks" class="owl-carousel owl-theme"></div>
            </div>
            <div class="flex justify-center mt-8 pt-8">
                <a href="https://www.nuget.org/profiles/servicestack" class="text-gray-500 hover:text-blue-500">
                    <div class="tick" data-did-init="handleTickInit" data-value="160000000" style="width:330px">
                        <span data-layout="horizontal fit">
                            <span data-repeat="true">
                                <span data-view="flip"></span>
                            </span>
                        </span>
                    </div>
                    <h4 class="mt-2 text-xl text-slate-300">downloads of servicestack packages</h4>
                </a>
            </div>
        </div>
    </section>
</div>

<script>
/* DOWNLOAD COUNTER https://pqina.nl/flip/ */
function handleTickInit(tick) {
    Tick.helper.interval(function () {
        fetch('https://account.servicestack.net/stats/live/servicestack.json')
            .then(function (r) { return r.json() })
            .then(function(stats) {
                if (!stats || tick.value === stats.downloadCount)
                    return;

                tick.value = stats.downloadCount;
            }, function (err) { console.log('checkDownloadCount', err) });
    }, 100000);
}

/* TWEET CAROUSEL*/
$(document).ready(function () {
    createOwlCarousel(52);
});
/* WOW ANIMATION */
wow = new WOW({ mobile: false });
wow.init();

/* OWL CROUSEL */
$(document).ready(function () {
    var owl = $("#screenshots");

    owl.owlCarousel({
        items: 2, //10 items above 1000px browser width
        itemsDesktop: [1000, 2], //5 items between 1000px and 901px
        itemsDesktopSmall: [900, 1], // betweem 900px and 601px
        itemsTablet: [600, 1], //2 items between 600 and 0
        itemsMobile: false // itemsMobile disabled - inherit from itemsTablet option
    });
});
/* Nivo Lightbox */
$(document).ready(function () {
    $('#screenshots a').nivoLightbox({
        effect: 'fadeScale',
    });
});
</script>

<style>
  .brand-bar img {
    max-height: 70px;
  }
</style>
<section class="text-center">
  <div class="mx-auto max-w-screen-2xl">
    <div class="my-4">
      <div class="flex flex-wrap justify-center items-center brand-bar">
        <div class="w-full sm:w-1/6 p-6">
          <img src="img/brands/adobe.svg" alt="Adobe" class="inline-flex">
        </div>
        <div class="w-full sm:w-1/6 p-6">
          <img src="img/brands/nbc.svg" alt="NBC Universal" class="inline-flex bg-white">
        </div>
        <div class="w-full sm:w-1/6 p-6">
          <img src="img/brands/progress.svg" alt="Progress Software" class="inline-flex">
        </div>
        <div class="w-full sm:w-1/6 p-6">
          <img src="img/brands/electronic_arts.svg" alt="EA" class="inline-flex bg-white">
        </div>
        <div class="w-full sm:w-1/6 p-6">
          <img src="img/brands/honeywell.svg" alt="Honeywell" class="inline-flex">
        </div>
        <div class="w-full sm:w-1/6 p-6">
          <img src="img/brands/nvidia.svg" alt="nVidia" class="inline-flex">
        </div>
      </div>
    </div>
  </div>
</section>

<script>hljs.highlightAll();</script>
    </main>
</div>

<footer class="bg-slate-200 dark:bg-black border-t border-slate-300 dark:border-gray-600 py-8 sm:py-12">
    <div class="max-w-screen-2xl mx-auto px-5">
        <div class="sm:flex sm:flex-wrap sm:-mx-4 md:py-4">
            <div class="px-4 sm:w-1/2 md:w-1/4 xl:w-1/6">
                <h5 class="block uppercase text-slate-500 font-semibold mb-4">Features</h5>
                <div>
                    <a href="https://servicestack.net/service-reference" class="text-slate-600 hover:text-slate-800 dark:hover:text-slate-100 font-semibold block pb-2 text-sm">ServiceStack Reference</a>
                    <a href="https://servicestack.net/creatorkit/" class="text-slate-600 hover:text-slate-800 dark:hover:text-slate-100 font-semibold block pb-2 text-sm">CreatorKit</a>
                    <a href="https://servicestack.net/litestream" class="text-slate-600 hover:text-slate-800 dark:hover:text-slate-100 font-semibold block pb-2 text-sm">Litestream</a>
                    <a href="https://www.jamstacks.net" class="text-slate-600 hover:text-slate-800 dark:hover:text-slate-100 font-semibold block pb-2 text-sm">Jamstack</a>
                    <a href="https://www.locode.dev" class="text-slate-600 hover:text-slate-800 dark:hover:text-slate-100 font-semibold block pb-2 text-sm">Locode</a>
                    <a href="https://account.servicestack.net/ormlite" class="text-slate-600 hover:text-slate-800 dark:hover:text-slate-100 font-semibold block pb-2 text-sm">OrmLite</a>
                    <a href="https://account.servicestack.net/redis" class="text-slate-600 hover:text-slate-800 dark:hover:text-slate-100 font-semibold block pb-2 text-sm">Redis</a>
                </div>
            </div>
            <div class="px-4 sm:w-1/2 md:w-1/4 xl:w-1/6 mt-8 sm:mt-0">
                <h5 class="block uppercase text-slate-500 font-semibold mb-4">Resources</h5>
                <div>
                    <a href="https://docs.servicestack.net" class="text-slate-600 hover:text-slate-800 dark:hover:text-slate-100 font-semibold block pb-2 text-sm">Framework Docs</a>
                    <a href="https://forums.servicestack.net" class="text-slate-600 hover:text-slate-800 dark:hover:text-slate-100 font-semibold block pb-2 text-sm">Customer Forums</a>
                    <a href="https://docs.servicestack.net/redis/" class="text-slate-600 hover:text-slate-800 dark:hover:text-slate-100 font-semibold block pb-2 text-sm">ServiceStack.Redis</a>
                    <a href="https://docs.servicestack.net/ormlite/" class="text-slate-600 hover:text-slate-800 dark:hover:text-slate-100 font-semibold block pb-2 text-sm">ServiceStack.OrmLite</a>
                    <a href="https://docs.servicestack.net/text/" class="text-slate-600 hover:text-slate-800 dark:hover:text-slate-100 font-semibold block pb-2 text-sm">ServiceStack.Text</a>
                    <a href="https://docs.servicestack.net/aws" class="text-slate-600 hover:text-slate-800 dark:hover:text-slate-100 font-semibold block pb-2 text-sm">ServiceStack.Aws</a>
                    <a href="https://github.com/NetCoreApps/LiveDemos" class="text-slate-600 hover:text-slate-800 dark:hover:text-slate-100 font-semibold block pb-2 text-sm">Live Demos</a>
                    <a href="https://servicestack.net/posts/" class="text-slate-600 hover:text-slate-800 dark:hover:text-slate-100 font-semibold block pb-2 text-sm">Blog Archive</a>
                </div>
            </div>
            <div class="px-4 sm:w-1/2 md:w-1/4 xl:w-1/6 mt-8 md:mt-0">
                <h5 class="block uppercase text-slate-500 font-semibold mb-4">Learn</h5>
                <div>
                    <a href="https://docs.servicestack.net/why-servicestack" class="text-slate-600 hover:text-slate-800 dark:hover:text-slate-100 font-semibold block pb-2 text-sm">Why ServiceStack</a>
                    <a href="https://docs.servicestack.net/architecture-overview" class="text-slate-600 hover:text-slate-800 dark:hover:text-slate-100 font-semibold block pb-2 text-sm">Architecture</a>
                    <a href="https://docs.servicestack.net/explore-servicestack" class="text-slate-600 hover:text-slate-800 dark:hover:text-slate-100 font-semibold block pb-2 text-sm">Explore ServiceStack</a>
                    <a href="https://docs.servicestack.net/api-first-development" class="text-slate-600 hover:text-slate-800 dark:hover:text-slate-100 font-semibold block pb-2 text-sm">API First Development</a>
                    <a href="https://docs.servicestack.net/service-complexity-and-dto-roles" class="text-slate-600 hover:text-slate-800 dark:hover:text-slate-100 font-semibold block pb-2 text-sm">The Simple POCO Life</a>
                    <a href="https://servicestack.net/training" class="text-slate-600 hover:text-slate-800 dark:hover:text-slate-100 font-semibold block pb-2 text-sm">Training Services</a>
                </div>
            </div>
            <div class="px-4 sm:w-1/2 md:w-1/4 xl:w-1/6 mt-8 md:mt-0">
                <h5 class="block uppercase text-slate-500 font-semibold mb-4">About</h5>
                <div>
                    <a href="https://servicestack.net/support" class="text-slate-600 hover:text-slate-800 dark:hover:text-slate-100 font-semibold block pb-2 text-sm">Support</a>
                    <a href="https://servicestack.net/whatsnew" class="text-slate-600 hover:text-slate-800 dark:hover:text-slate-100 font-semibold block pb-2 text-sm">What's New</a>
                    <a href="https://servicestack.net/#contact" class="text-slate-600 hover:text-slate-800 dark:hover:text-slate-100 font-semibold block pb-2 text-sm">Contact Us</a>
                    <a href="https://servicestack.net/privacy" class="text-slate-600 hover:text-slate-800 dark:hover:text-slate-100 font-semibold block pb-2 text-sm">Privacy</a>
                    <a href="https://servicestack.net/terms" class="text-slate-600 hover:text-slate-800 dark:hover:text-slate-100 font-semibold block pb-2 text-sm">Terms</a>
                </div>
            </div>
            <div class="px-4 mt-4 flex justify-end">
                <div class="max-w-sm">
                    <div class="mx-auto">
                        <h5 class="block uppercase text-slate-500 font-semibold mb-4">Stay connected</h5>

                        <div class="mt-6 lg:mb-0 mb-6">
                            <a href="https://twitter.com/ServiceStack" class="inline-block bg-white dark:bg-gray-800 p-2 text-blue-400 shadow-lg font-normal items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2">
                                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.22 4.22 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.521 8.521 0 0 1-5.33 1.84c-.34 0-.68-.02-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23Z"/></svg>
                            </a>
                            <a href="https://www.youtube.com/channel/UC0kXKGVU4NHcwNdDdRiAJSA" class="inline-block bg-white dark:bg-gray-800 p-2 text-red-600 shadow-lg font-normal items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2">
                                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M21.543 6.498C22 8.28 22 12 22 12s0 3.72-.457 5.502c-.254.985-.997 1.76-1.938 2.022C17.896 20 12 20 12 20s-5.893 0-7.605-.476c-.945-.266-1.687-1.04-1.938-2.022C2 15.72 2 12 2 12s0-3.72.457-5.502c.254-.985.997-1.76 1.938-2.022C6.107 4 12 4 12 4s5.896 0 7.605.476c.945.266 1.687 1.04 1.938 2.022zM10 15.5l6-3.5l-6-3.5v7z"/></svg>
                            </a>
                            <a href="https://github.com/ServiceStack" class="inline-block bg-white dark:bg-gray-800 p-2 text-slate-800 shadow-lg font-normal items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2">
                                <svg class="h-6 w-6 dark:text-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33c.85 0 1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2Z"/></svg>
                            </a>
                        </div>
                    </div>
                    <div class="mt-8" data-mail="JoinMailingList" data-props="{ submitLabel:'Join our newsletter' }"></div>
                </div>
            </div>
        </div>

        <div class="sm:flex sm:flex-wrap sm:-mx-4 mt-6 pt-6 sm:mt-12 sm:pt-12 border-t dark:border-gray-700">
            <div class="sm:w-full px-4 md:w-1/6">
                <b>About ServiceStack</b>
            </div>
            <div class="px-4 sm:w-1/2 mt-4 md:mt-0 text-sm text-gray-600">
                ServiceStack started development in 2008 with the mission of creating a best-practices services framework
                with an emphasis on simplicity and speed, reducing the effort in creating and maintaining resilient
                message-based SOA Services and rich web apps.

                <p class="pt-2">Copyright (c) ServiceStack Inc. 2023</p>
            </div>
            <div class="px-4 md:w-1/4 md:ml-auto mt-6 sm:mt-4 md:mt-0">
                <a href="https://servicestack.net/start"
                   class="bg-slate-800 text-white active:bg-slate-600 text-sm font-semibold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">
                    Get started
                </a>
            </div>
        </div>        
        
    </div>
</footer>

<script type="module">
import { mail } from 'https://creatorkit.servicestack.net/mjs/components/mail.mjs'
import { post } from 'https://creatorkit.servicestack.net/mjs/components/post.mjs'

mail('[data-mail]', { mailingLists:['MonthlyNewsletter'] })
post('[data-post]', {
    commentLink: { 
        href: '/community-rules',
        label: 'read the community rules'
    } 
})
</script>



<script type="module">
import { init } from "app.mjs"
init()
</script>



</body>
</html>