@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage<TModel>

@await Html.PartialAsync("VideoFeature", new Shared.VideoFeature {
   TitleTop = "Create <span class='text-purple-600'>Blazor WASM</span> Apps",
   TitleBottom = "<span style='color:#0d6efd'>with Bootstrap</span>",
   Subtitle = "Walk through of the Bootstrap Blazor WASM template. Includes Bookings CRUD example using AutoQuery and Todo App, showing how to communicate between client and server",
   YoutubeId = "TIgjMf_vtCI",
})

<div class="bg-white dark:bg-black pb-8 pb-12">
    <div class="pt-8 overflow-hidden sm:pt-12 lg:relative lg:py-48">
        <div
            class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl lg:grid lg:grid-cols-2 lg:gap-24">
            <div>
                <div>
                    <img class="h-16 w-auto" src="/img/pages/blazor/logo.svg" alt="Blazor Logo">
                </div>
                <div class="mt-20">
                    <div>
                        <a href="https://blazor-wasm.jamstacks.net" class="inline-flex space-x-4">
                            <span
                                class="rounded bg-purple-50 dark:bg-purple-900 px-2.5 py-1 text-xs font-semibold text-purple-500 tracking-wide uppercase">
                                What's new </span>
                            <span
                                class="inline-flex items-center text-sm font-medium text-purple-500 space-x-1">
                                <span>Live Demo</span>
                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                    fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                        clip-rule="evenodd" />
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div class="mt-6 sm:max-w-xl">
                        <h1 class="text-4xl font-extrabold text-gray-900 dark:text-gray-50 tracking-tight sm:text-5xl">
                            Blazor WASM Template
                        </h1>
                        <p class="mt-6 text-xl text-gray-500">
                            The Blazor WASM template shows the familiar "Counter" example page like the standard
                            Blazor template, but also includes a full Bookings CRUD & Todos example pages with
                            supporting API services.
                        </p>
                    </div>

                    <div class="mt-6 flex">
                        <div class="rounded-md shadow">
                            <a href="https://docs.servicestack.net/templates-blazor" target="_blank"
                                class="flex hover:no-underline px-5 py-3 border border-transparent text-base font-medium rounded-md text-gray-900 dark:text-gray-50 bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-900"> 
                                Learn More
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="sm:mx-auto sm:max-w-3xl sm:px-6">
            <div class="py-12 sm:relative sm:mt-12 sm:py-16 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
                <div class="hidden sm:block">
                    <div
                        class="absolute inset-y-0 left-1/2 w-screen bg-gray-50 dark:bg-gray-900 rounded-l-3xl lg:left-80 lg:right-0 lg:w-full">
                    </div>
                    <svg class="absolute top-8 right-1/2 -mr-3 lg:m-0 lg:left-0" width="404" height="392"
                        fill="none" viewBox="0 0 404 392">
                        <defs>
                            <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20"
                                height="20" patternUnits="userSpaceOnUse">
                                <rect x="0" y="0" width="4" height="4" class="text-gray-200"
                                    fill="currentColor" />
                            </pattern>
                        </defs>
                        <rect width="404" height="392" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)" />
                    </svg>
                </div>
                <div
                    class="relative pl-4 -mr-40 sm:mx-auto sm:max-w-3xl sm:px-0 lg:max-w-none lg:h-full lg:pl-12">
                    <a href="https://blazor-wasm.jamstacks.net/bookings-crud">
                        <img class="w-full rounded-md shadow-xl ring-1 ring-black ring-opacity-5 lg:h-full lg:w-auto lg:max-w-none"
                            src="/img/pages/blazor/blazor-wasm-template.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>