@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage<TModel>

<div class="relative bg-white dark:bg-black mb-8 py-8 sm:py-12 lg:py-16">
    <div class="mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
        <h2 class="text-base font-semibold uppercase tracking-wider text-indigo-600">Develop faster</h2>
        <p class="mt-2 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-gray-50 sm:text-4xl">Everything you need to develop
            Blazor Apps</p>
        <p class="mx-auto mt-5 max-w-prose text-xl text-gray-500">
            ServiceStack’s Blazor templates improves on the standard Blazor development model with a number of
            compelling features
        </p>
        <div class="mt-12">
            <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">

                <div class="pt-6">
                    <div class="flow-root rounded-lg bg-gray-50 dark:bg-gray-900 px-6 pb-8">
                        <div class="-mt-6">
                            <div>
                                <span class="inline-flex items-center justify-center rounded-md bg-indigo-500 p-3 shadow-lg text-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1.5em"
                                        height="1.5em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                        <path fill="none" stroke="currentColor" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="2"
                                            d="M10 9a3 3 0 0 0-3-3h-.5A3.5 3.5 0 0 0 3 9.5v5A3.5 3.5 0 0 0 6.5 18H7a3 3 0 0 0 3-3m6-8l-1 10m5-10l-1 10m-5-7h7.5m-.5 4h-7.5" />
                                    </svg>
                                </span>
                            </div>
                            <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900 dark:text-gray-50">Shared Models</h3>
                            <p class="mt-5 text-base text-gray-500">
                                100% code reuse of Server DTOs enables end-to-end typed APIs, instantly available in
                                Blazor WASM's live reload
                            </p>
                        </div>
                    </div>
                </div>

                <div class="pt-6">
                    <div class="flow-root rounded-lg bg-gray-50 dark:bg-gray-900 px-6 pb-8">
                        <div class="-mt-6">
                            <div>
                                <span
                                    class="inline-flex items-center justify-center rounded-md bg-indigo-500 p-3 shadow-lg text-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1.5em"
                                        height="1.5em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                            d="M23.834 8.101a13.912 13.912 0 0 1-13.643 11.72a10.105 10.105 0 0 1-1.994-.12a6.111 6.111 0 0 1-5.082-5.761a5.934 5.934 0 0 1 11.867-.084c.025.983-.401 1.846-1.277 1.871c-.936 0-1.374-.668-1.374-1.567v-2.5a1.531 1.531 0 0 0-1.52-1.533H8.715a3.648 3.648 0 1 0 2.695 6.08l.073-.11l.074.121a2.58 2.58 0 0 0 2.2 1.048a2.909 2.909 0 0 0 2.695-3.04a7.912 7.912 0 0 0-.217-1.933a7.404 7.404 0 0 0-14.64 1.603a7.497 7.497 0 0 0 7.308 7.405s.549.05 1.167.035a15.803 15.803 0 0 0 8.475-2.528c.036-.025.072.025.048.061a12.44 12.44 0 0 1-9.69 3.963a8.744 8.744 0 0 1-8.9-8.972a9.049 9.049 0 0 1 3.635-7.247a8.863 8.863 0 0 1 5.229-1.726h2.813a7.915 7.915 0 0 0 5.839-2.578a.11.11 0 0 1 .059-.034a.112.112 0 0 1 .12.053a.113.113 0 0 1 .015.067a7.934 7.934 0 0 1-1.227 3.549a.107.107 0 0 0-.014.06a.11.11 0 0 0 .073.095a.109.109 0 0 0 .062.004a8.505 8.505 0 0 0 5.913-4.876a.155.155 0 0 1 .055-.053a.15.15 0 0 1 .147 0a.153.153 0 0 1 .054.053A10.779 10.779 0 0 1 23.834 8.1zM8.895 11.628a2.188 2.188 0 1 0 2.188 2.188v-2.042a.158.158 0 0 0-.15-.15Z" />
                                    </svg>
                                </span>
                            </div>
                            <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900 dark:text-gray-50">Blazor Components</h3>
                            <p class="mt-5 text-base text-gray-500">
                                Rich UI component library with integrated contextual declarative validation, highly
                                themeable supporting Tailwind UIs
                            </p>
                        </div>
                    </div>
                </div>

                <div class="pt-6">
                    <div class="flow-root rounded-lg bg-gray-50 dark:bg-gray-900 px-6 pb-8">
                        <div class="-mt-6">
                            <div>
                                <span
                                    class="inline-flex items-center justify-center rounded-md bg-indigo-500 p-3 shadow-lg text-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1.5em"
                                        height="1.5em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
                                        <circle cx="21" cy="21" r="2" fill="currentColor" />
                                        <circle cx="7" cy="7" r="2" fill="currentColor" />
                                        <path fill="currentColor"
                                            d="M27 31a4 4 0 1 1 4-4a4.012 4.012 0 0 1-4 4Zm0-6a2 2 0 1 0 2 2a2.006 2.006 0 0 0-2-2Z" />
                                        <path fill="currentColor"
                                            d="M30 16A14.041 14.041 0 0 0 16 2a13.043 13.043 0 0 0-6.8 1.8l1.1 1.7a24.425 24.425 0 0 1 2.4-1A25.135 25.135 0 0 0 10 15H4a11.149 11.149 0 0 1 1.4-4.7L3.9 9A13.842 13.842 0 0 0 2 16a13.998 13.998 0 0 0 14 14a13.366 13.366 0 0 0 5.2-1l-.6-1.9a11.442 11.442 0 0 1-5.2.9A21.071 21.071 0 0 1 12 17h17.9a3.402 3.402 0 0 0 .1-1ZM12.8 27.6a13.02 13.02 0 0 1-5.3-3.1A12.505 12.505 0 0 1 4 17h6a25.002 25.002 0 0 0 2.8 10.6ZM12 15a21.446 21.446 0 0 1 3.3-11h1.4A21.446 21.446 0 0 1 20 15Zm10 0a23.278 23.278 0 0 0-2.8-10.6A12.092 12.092 0 0 1 27.9 15Z" />
                                    </svg>
                                </span>
                            </div>
                            <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900 dark:text-gray-50">Auto Query
                            </h3>
                            <p class="mt-5 text-base text-gray-500">
                                Rapidly developing data-driven APIs, UIs and CRUD Apps with AutoQuery's effortless APIs and Auto UIs
                            </p>
                        </div>
                    </div>
                </div>

                <div class="pt-6">
                    <div class="flow-root rounded-lg bg-gray-50 dark:bg-gray-900 px-6 pb-8">
                        <div class="-mt-6">
                            <div>
                                <span
                                    class="inline-flex items-center justify-center rounded-md bg-indigo-500 p-3 shadow-lg text-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1.5em"
                                        height="1.5em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16">
                                        <g fill="currentColor">
                                            <path
                                                d="M14 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h12zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z" />
                                            <path fill-rule="evenodd"
                                                d="M9.146 8.146a.5.5 0 0 1 .708 0L11.5 9.793l1.646-1.647a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 0-.708z" />
                                            <path fill-rule="evenodd"
                                                d="M11.5 5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 1 .5-.5z" />
                                            <path
                                                d="M3.56 11V7.01h.056l1.428 3.239h.774l1.42-3.24h.056V11h1.073V5.001h-1.2l-1.71 3.894h-.039l-1.71-3.894H2.5V11h1.06z" />
                                        </g>
                                    </svg>
                                </span>
                            </div>
                            <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900 dark:text-gray-50">Markdown Content</h3>
                            <p class="mt-5 text-base text-gray-500">
                                Integrated Markdown support for easy creation of beautiful typography content pages,
                                transparently pre-rendered for great UX &amp; SEO
                            </p>
                        </div>
                    </div>
                </div>

                <div class="pt-6">
                    <div class="flow-root rounded-lg bg-gray-50 dark:bg-gray-900 px-6 pb-8">
                        <div class="-mt-6">
                            <div>
                                <span
                                    class="inline-flex items-center justify-center rounded-md bg-indigo-500 p-3 shadow-lg text-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1.5em"
                                        height="1.5em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512">
                                        <path fill="currentColor"
                                            d="M128 204.667C145.062 136.227 187.738 102 256 102c102.4 0 115.2 77 166.4 89.833c34.138 8.56 64-4.273 89.6-38.5C494.938 221.773 452.262 256 384 256c-102.4 0-115.2-77-166.4-89.833c-34.138-8.56-64 4.273-89.6 38.5zm-128 154C17.062 290.227 59.738 256 128 256c102.4 0 115.2 77 166.4 89.833c34.138 8.56 64-4.273 89.6-38.5C366.938 375.773 324.262 410 256 410c-102.4 0-115.2-77-166.4-89.833c-34.138-8.56-64 4.273-89.6 38.5z" />
                                    </svg>
                                </span>
                            </div>
                            <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900 dark:text-gray-50">Beautiful Tailwind</h3>
                            <p class="mt-5 text-base text-gray-500">
                                Create Beautiful, Responsive &amp; Dark Mode Tailwind Blazor Apps with comprehensive
                                commercial & community components
                            </p>
                        </div>
                    </div>
                </div>

                <div class="pt-6">
                    <div class="flow-root rounded-lg bg-gray-50 dark:bg-gray-900 px-6 pb-8">
                        <div class="-mt-6">
                            <div>
                                <span
                                    class="inline-flex items-center justify-center rounded-md bg-indigo-500 p-3 shadow-lg text-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1.5em"
                                        height="1.5em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                        <path fill="currentColor" fill-rule="evenodd"
                                            d="M12 0C5.37 0 0 5.37 0 12c0 5.31 3.435 9.795 8.205 11.385c.6.105.825-.255.825-.57c0-.285-.015-1.23-.015-2.235c-3.015.555-3.795-.735-4.035-1.41c-.135-.345-.72-1.41-1.23-1.695c-.42-.225-1.02-.78-.015-.795c.945-.015 1.62.87 1.845 1.23c1.08 1.815 2.805 1.305 3.495.99c.105-.78.42-1.305.765-1.605c-2.67-.3-5.46-1.335-5.46-5.925c0-1.305.465-2.385 1.23-3.225c-.12-.3-.54-1.53.12-3.18c0 0 1.005-.315 3.3 1.23c.96-.27 1.98-.405 3-.405s2.04.135 3 .405c2.295-1.56 3.3-1.23 3.3-1.23c.66 1.65.24 2.88.12 3.18c.765.84 1.23 1.905 1.23 3.225c0 4.605-2.805 5.625-5.475 5.925c.435.375.81 1.095.81 2.22c0 1.605-.015 2.895-.015 3.3c0 .315.225.69.825.57A12.02 12.02 0 0 0 24 12c0-6.63-5.37-12-12-12Z"
                                            clip-rule="evenodd" />
                                    </svg>
                                </span>
                            </div>
                            <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900 dark:text-gray-50">GitHub Actions</h3>
                            <p class="mt-5 text-base text-gray-500">
                                Deploy .NET Containers straight to any Linux Server from GitHub Actions with built in workflows
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>