@page "/overview/configuration"
@attribute [RenderStatic]

@{
    ViewData["Title"] = "Fundamentals - Configuration";
}

@await Html.PartialAsync("DocsHeader", new Shared.DocsHeader {
   Heading = "Getting Started - Configuration",
   SubHeading = "Different ways for getting started with ServiceStack: Project templates, Walkthroughs, Docs and Videos, choose what's best for you",
})

<div class="flex justify-center">
    <lite-youtube class="w-full mx-4 my-4" width="560" height="315" videoid="mOpx5mUGoqI" style="background-image: url('https://img.youtube.com/vi/mOpx5mUGoqI/maxresdefault.jpg')"></lite-youtube>
</div>


<div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
    <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
        <div class="lg:pr-4">
            <div class="lg:max-w-lg mb-4">
                <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Registering IoC Dependencies</h1>
            </div>
            <div class="max-w-xl leading-7 text-gray-700 lg:max-w-lg prose lg:prose-lg">
                <p class="text-left clearfix">
                    In your application's <code class="font-semibold">AppHost</code>, you will see a 
                    <code class="font-semibold">ConfigureServices()</code> method which is fired during your application startup and is 
                    the location that should contain all your configuration, including registering resources you want easy access to in your Services.
                </p>
                <p class="text-left clearfix">
                    ServiceStack uses the same ASP.NET Core IOC as the rest of your ASP.NET Web Application. This the primary way to share 
                    code across services as well as configuration your might need.
                </p>
                <p class="text-left clearfix">
                    Use constructor injection to inject required dependencies into your services. Using C# 12's Primary Constructors is the
                    easiest way to do this that requires the least boilerplate. Any optional dependencies that may or may not be registered
                    can use public properties with the <code class="font-semibold">[FromServices]</code> attribute.
                </p>
            </div>
            <div class="buttons text-center sm:text-left my-8">
                <a href="https://docs.servicestack.net/net-ioc"
                   class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white hover:text-white shadow-xl px-5 py-2 inline-block text-blue-100 rounded">
                    Learn more
                </a>
            </div>
        </div>
        <div class="pt-4">

        <pre><code class="language-csharp">[assembly: HostingStartup(typeof(AppHost))]

namespace MyApp;

public class AppHost() : AppHostBase("MyApp"), IHostingStartup
{
    public void Configure(IWebHostBuilder builder) => builder
        .ConfigureServices(services => {
            // Configure ASP.NET Core IOC Dependencies
           services.AddSingleton&lt;IBar&gt;(new Bar {
                Name = "Registered as interface"
            });
     
            services.AddSingleton(new Bar {
                Name = "Registered as Concrete type"
            });
        });

    public override void Configure()
    {
        // Configure ServiceStack, Run custom logic after ASP.NET Core Startup
    }
}

public class MyServices(IBar bar) : Service
{
    [FromServices] // Inject optional dependencies from ASP.NET Core IOC
    public Bar? ConcreteBar { get; set; }

    public object Any(Hello request)
    {
        return new HelloResponse {
            Result = $"Hello, {bar.Name}"
        };
    }
}
</code></pre>
            
        </div>
    </div>
</div>


<div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
    <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
        <div class="lg:pr-4">
            <div class="lg:max-w-lg mb-4">
                <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Add features via Plugins</h1>
            </div>
            <div class="max-w-xl leading-7 text-gray-700 lg:max-w-lg prose lg:prose-lg">
                <p class="text-left clearfix">
                    ServiceStack has an easy way to add packaged up functionality into your application with the use of the 
                    <a class="text-indigo-600 hover:text-indigo-800" href="https://docs.servicestack.net/plugins">Plugin API</a>. 
                    Plugins can be added using the function <code>services.AddPlugin</code> which takes an instance of an IPlugin.
                </p>
                <p class="text-left clearfix">
                    ServiceStack automatically registers several plugins by default including <code>CSV Format</code>, <code>HTML Format</code>, and <code>Predefined Routes</code> but also has a range of other Plugins available to add functionality to configure and add to your application with minimal fuss.
                </p>
                <p class="text-left clearfix">
                    You can create your own Plugins using the IPlugin interface as a way to isolate a feature set you have built which can help if you need to share features among multiple hosts.
                </p>
            </div>
            <div class="buttons text-center sm:text-left my-8">
                <a href="https://docs.servicestack.net/plugins"
                   class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white hover:text-white shadow-xl px-5 py-2 inline-block text-blue-100 rounded">
                    Learn more
                </a>
            </div>
        </div>
        <div class="pt-4">

<pre><code class="language-csharp">[assembly: HostingStartup(typeof(MyApp.ConfigureAutoQuery))]

namespace MyApp;

public class ConfigureAutoQuery : IHostingStartup
{
   public void Configure(IWebHostBuilder builder) => builder
       .ConfigureServices(services => {
           // Enable Audit History https://docs.servicestack.net/autoquery/audit-log
           services.AddSingleton&lt;ICrudEvents&gt;(c =>
               new OrmLiteCrudEvents(c.GetRequiredService&lt;IDbConnectionFactory&gt;()));

           // Enable AutoQuery Data https://docs.servicestack.net/autoquery/data
           services.AddPlugin(new AutoQueryDataFeature());
           
           // Enable AutoQuery Services https://docs.servicestack.net/autoquery/
           services.AddPlugin(new AutoQueryFeature {
               MaxLimit = 1000,
               //IncludeTotal = true,
           });
       })
       .ConfigureAppHost(appHost => {
           // Run Custom Logic on App Startup, e.g. Create Audit Schema table
           appHost.Resolve&lt;ICrudEvents&gt;().InitSchema();
       });
}
</code></pre>
            
        </div>
    </div>
</div>


<div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
    <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
        <div class="lg:pr-4">
            <div class="lg:max-w-lg mb-4">
                <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Manage AppSettings</h1>
            </div>
            <div class="max-w-xl leading-7 text-gray-700 lg:max-w-lg prose lg:prose-lg">
                <p class="text-left clearfix">
                    ServiceStack has several ways to make it easy to populate application configuration from 
                    <a class="text-indigo-600 hover:text-indigo-800" href="https://docs.servicestack.net/appsettings">various data sources </a> into a flexible 
                    <code>IAppSettings</code> instance including <code>Web.config</code>, <code>database</code>, <code>environment variables</code>, 
                    <code>text files</code> and more.
                </p>
                <p class="text-left clearfix">
                    A <code>MultiAppSettings</code> builder is also provided which creates a cascading configuration that checks various sources in 
                    priority order. AppSettings provides a good base for your own custom strongly typed class of settings that can be initialized 
                    from AppSettings and then shared in your application as your own custom settings class.
                </p>
                <p class="text-left clearfix">
                    AppSettings can be registered and used like any other auto wired dependency in your IoC container to make it easy to share 
                    runtime configuration among your services. This creates an easy to manage a central place for your application settings that 
                    can be used anywhere in your application.
                </p>
            </div>
            <div class="buttons text-center sm:text-left my-8">
                <a href="https://docs.servicestack.net/appsettings"
                   class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white hover:text-white shadow-xl px-5 py-2 inline-block text-blue-100 rounded">
                    Learn more
                </a>
            </div>
        </div>
        <div class="pt-4">

            <pre><code class="language-csharp">[assembly: HostingStartup(typeof(MyApp.ConfigureServerEvents))]

namespace MyApp;

public class ConfigureServerEvents : IHostingStartup
{
   public void Configure(IWebHostBuilder builder) => builder
       .ConfigureServices((context,services) => {
           services.AddPlugin(new ServerEventsFeature());

           var customSettings = new FileInfo("appsettings.txt");
           if (customSettings.Exists)
           {
               var appSettings = new TextFileSettings(customSettings.FullName);
               services.AddSingleton&lt;IAppSettings&gt;(appSettings);
               
               var redisHost = appSettings.GetString("RedisHost");
               if (redisHost != null)
               {
                   services.AddSingleton&lt;IServerEvents&gt;(
                       new RedisServerEvents(new PooledRedisClientManager(redisHost)));
               }
           }
       })
       .ConfigureAppHost(appHost =>
       {
           appHost.TryResolve&lt;IServerEvents&gt;()?.Start();
       });
}

public class ServerEventsServices(IAppSettings settings) : Service
{
   public void Any(PostRawToChannel request)
   {
       if (!IsAuthenticated && settings.Get("LimitRemoteControlToAuthenticatedUsers",false))
           throw new HttpError(HttpStatusCode.Forbidden, 
               "You must be authenticated to use remote control.");
       //...
   }   
}
</code></pre>
 
<b>appsettings.txt</b>
<pre><code class="language-ini"># Which port to host Chat app on
port 1337

# Change what starting background image should be used
background /img/bg.jpg

# Don't allow Anon Users to use Remote Control
LimitRemoteControlToAuthenticatedUsers False

#default settings for all oauth providers uses OAuth configured for http://localhost:1337/
oauth.RedirectUrl http://localhost:1337/
oauth.CallbackUrl http://localhost:1337/auth/{0}
</code></pre>
            
        </div>
    </div>
</div>


<div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
    <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
        <div class="lg:pr-4">
            <div class="lg:max-w-lg mb-4">
                <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Mix in functionality using templates</h1>
            </div>
            <div class="max-w-xl leading-7 text-gray-700 lg:max-w-lg prose lg:prose-lg">
                <p class="text-left clearfix">
                    A great way to speed up development is to use the ServiceStack dotnet <code>x</code> tool to create new projects as well as mix in additional functionality. Once installed, using the command <code>x mix</code> will show a list of features that can be mixed into an existing application.
                </p>
                <p class="text-left clearfix">
                    For example, using the command <code>x mix sqlite</code> in the root of your project folder will add the required ServiceStack SQLite related dependencies to your project as well as a startup module <code>Configure.Db.cs</code> file with all the required code to incorporate a SQLite OrmLite connection straight into your application.
                </p>
                <p class="text-left clearfix">
                    The dotnet <code>x</code> tool is cross platform, and can be installed using the command:
                </p>
            </div>
            <div class="mt-4" data-component="CopyLine" data-props="{ prefix:'$ ', text:'dotnet tool install -g x' }"></div>
            <div class="buttons text-center sm:text-left my-8">
                <a href="https://docs.servicestack.net/modular-startup"
                   class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white hover:text-white shadow-xl px-5 py-2 inline-block text-blue-100 rounded">
                    Learn more
                </a>
            </div>
        </div>
        <div class="pt-4">

<pre><code class="language-csharp">[assembly: HostingStartup(typeof(MyApp.ConfigureDb))]

namespace MyApp;

public class ConfigureDb : IHostingStartup
{
    public void Configure(IWebHostBuilder builder) => builder
        .ConfigureServices((context, services) => {
            services.AddSingleton&lt;IDbConnectionFactory&gt;(new OrmLiteConnectionFactory(
                context.Configuration.GetConnectionString("DefaultConnection")
                ?? ":memory:",
                SqliteDialect.Provider));
        })
        .ConfigureAppHost(appHost => {
            // Enable built-in Database Admin UI at /admin-ui/database
            // appHost.Plugins.Add(new AdminDatabaseFeature());
        });
}
</code></pre>
            
        </div>
    </div>
</div>


<div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
    <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
        <div class="lg:pr-4">
            <div class="lg:max-w-lg mb-4">
                <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Register a Database connection</h1>
            </div>
            <div class="max-w-xl leading-7 text-gray-700 lg:max-w-lg prose lg:prose-lg">
                <p class="text-left clearfix">
                    ServiceStack's bundled Object Relational Mapper (ORM), OrmLite, is the standard way to register a RDBMS connect for the rest of your application to use. This can be done by registering an <code>IDbConnectionFactory</code> with your IoC container.
                </p>
                <p class="text-left clearfix">
                    When registering an <code>OrmLiteConnectionFactory</code>, a <code>Provider</code> must be specified to match which vendor technology you are using. For example, if you are using PostgreSQL as your database backend, you'll need to add the <code>ServiceStack.OrmLite.PostgreSQL</code> dependency to your AppHost project and specify the <code>PostgreSqlDialect.Provider</code>.
                </p>
                <p class="text-left clearfix">
                    Once the <code>IDbConnectionFactory</code> is registered, it can be resolved from IoC using <code>container.Resolve&lt;IDbConnectionFactory&gt;</code> to be used in other configuration as well as accessed in your services using the <code>Db</code> property helper to open a new database connection. Your other projects will only need the <code>ServiceStack.OrmLite</code> package to access the OrmLite API.
                </p>
            </div>
            <div class="buttons text-center sm:text-left my-8">
                <a href="https://docs.servicestack.net/ormlite/getting-started"
                   class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white hover:text-white shadow-xl px-5 py-2 inline-block text-blue-100 rounded">
                    Learn more
                </a>
            </div>
        </div>
        <div class="pt-4">

<pre><code class="language-csharp">[assembly: HostingStartup(typeof(MyApp.ConfigureDb))]

namespace MyApp;

public class ConfigureDb : IHostingStartup
{
   public void Configure(IWebHostBuilder builder) => builder
       .ConfigureServices((context, services) => {

           services.AddSingleton&lt;IDbConnectionFactory&gt;(new OrmLiteConnectionFactory(
               context.Configuration.GetConnectionString("DefaultConnection"),
               PostgreSqlDialect.Provider));
           
           // Enable built-in Database Admin UI at /admin-ui/database
           services.AddPlugin(new AdminDatabaseFeature());
       })
       .ConfigureAppHost(appHost =>
       {
           using var db = appHost.Resolve&lt;IDbConnectionFactory&gt;().Open();
           if (db.CreateTableIfNotExists&lt;MyTable&gt;())
           {
               db.Insert(new MyTable {
                   Name = "Seed Data for new MyTable"
               });
           }
       });
}

public class MyServices : Service
{
   public object Any(Hello request)
   {
       // Db property opens a new connection per request
       var user = Db.Single&lt;User&gt;(x => x.Id == request.Id);
       return new HelloResponse {
           Result = $"Hello, {user.Name}!"
       };
   }
}
</code></pre>
            
        </div>
    </div>
</div>


<div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
    <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
        <div class="lg:pr-4">
            <div class="lg:max-w-lg mb-4">
                <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Register a Redis connection</h1>
            </div>
            <div class="max-w-xl leading-7 text-gray-700 lg:max-w-lg prose lg:prose-lg">
                <p class="text-left clearfix">
                    ServiceStack also comes bundled with first class Redis client in the <code>ServiceStack.Redis</code> package. It provides several APIs including a native client, strongly typed client as well as integrating into your application as a
                    <a href="https://docs.servicestack.net/caching">cache provider</a>.
                </p>
                <p class="text-left clearfix">
                    Registering a Redis connection requires registering a <code>IRedisClientManager</code> with your IoC container. To take advantage of Redis as a caching provider you can register a factory method with your IoC container returning an ICacheClient from the client manager. The will enable use of the <code>Cache</code> and <code>CacheAsync</code> properties in your services.
                </p>
            </div>
            <div class="buttons text-center sm:text-left my-8">
                <a href="https://docs.servicestack.net/redis/client-managers"
                   class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white hover:text-white shadow-xl px-5 py-2 inline-block text-blue-100 rounded">
                    Learn more
                </a>
            </div>
        </div>
        <div class="pt-4">

<pre><code class="language-csharp">[assembly: HostingStartup(typeof(MyApp.ConfigureRedis))]

namespace MyApp;

public class ConfigureRedis : IHostingStartup
{
   public void Configure(IWebHostBuilder builder) => builder
       .ConfigureServices((context, services) => {
           services.AddSingleton&lt;IRedisClientsManager&gt;(new RedisManagerPool(
               context.Configuration.GetConnectionString("Redis") ?? "localhost:6379"));
       })
       .ConfigureAppHost(appHost => {
           // Enable built-in Redis Admin UI at /admin-ui/redis
           // appHost.Plugins.Add(new AdminRedisFeature());
       });
}

public class MyServices : Service
{
    public object Any(Hello request)
    {
        var name = Cache.Get&lt;string&gt;(key);
        return new HelloResponse {
            Result = $"Hello, {name}!"
        };
    }
    
    public async Task&lt;object&gt; Any(HelloAsync request)
    {
        var name = await CacheAsync.GetAsync&lt;string&gt;(key);
        return new HelloResponse {
            Result = $"Hello, {name}!"
        };
    }
}
</code></pre>
            
        </div>
    </div>
</div>


<div class="my-20 flex justify-center">
    <div class="flex items-center">
        <a href="overview/fundamentals">
            <div class="rounded-md py-2 pl-2 pr-6 shadow-lg bg-blue-500 text-white hover:bg-blue-600 text-2xl font-normal flex items-center">
                <svg class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m14 18l-6-6l6-6l1.4 1.4l-4.6 4.6l4.6 4.6Z"/></svg>
                Fundamentals
            </div>
        </a>
        <span class="text-2xl ml-4 text-gray-400">Previous</span>
    </div>
</div>

@await Html.PartialAsync("DocsFooter")
