<style>
  .brand-bar img {
    max-height: 70px;
  }
</style>
<section class="text-center">
  <div class="mx-auto max-w-screen-2xl">
    <div class="my-4">
      <div class="flex flex-wrap justify-center items-center brand-bar">
        <div class="w-full sm:w-1/6 p-6">
          <img src="img/brands/adobe.svg" alt="Adobe" class="inline-flex">
        </div>
        <div class="w-full sm:w-1/6 p-6">
          <img src="img/brands/nbc.svg" alt="NBC Universal" class="inline-flex bg-white">
        </div>
        <div class="w-full sm:w-1/6 p-6">
          <img src="img/brands/progress.svg" alt="Progress Software" class="inline-flex">
        </div>
        <div class="w-full sm:w-1/6 p-6">
          <img src="img/brands/electronic_arts.svg" alt="EA" class="inline-flex bg-white">
        </div>
        <div class="w-full sm:w-1/6 p-6">
          <img src="img/brands/honeywell.svg" alt="Honeywell" class="inline-flex">
        </div>
        <div class="w-full sm:w-1/6 p-6">
          <img src="img/brands/nvidia.svg" alt="nVidia" class="inline-flex">
        </div>
      </div>
    </div>
  </div>
</section>