@page
@model string

<section>
    <div class="sticky top-0 z-50">
        <div class="hidden sm:flex sm:h-32 sm:justify-center sm:border-b sm:border-slate-200 dark:sm:border-slate-700 sm:bg-white/95 dark:bg-black/95 sm:[@@supports(backdrop - filter:blur(0))]:bg-white/80 dark:sm:[@@supports(backdrop - filter:blur(0))]:bg-black/80 sm:[@@supports(backdrop - filter:blur(0))]:backdrop-blur">
            <ol role="list" class="mb-[-2px] grid auto-cols-[minmax(0,15rem)] grid-flow-col text-base font-medium text-slate-900 dark:text-slate-50 [counter-reset:section]">
                @{
                    void RenderNavLink(string href, string childContent, string? cls = null)
                    {
                        <li class="flex [counter-increment:section]">
                            @if (href == Model)
                            {
                                <a class="flex w-full flex-col items-center justify-center border-b-2 before:mb-2 before:font-mono before:text-sm before:content-[counter(section,decimal-leading-zero)] border-blue-600 dark:border-blue-300 bg-blue-50 dark:bg-blue-900 text-blue-600 dark:text-blue-300 before:text-blue-600" href="@href">
                                    @Html.Raw(childContent)
                                </a>
                            }
                            else
                            {
                                <a class="flex w-full flex-col items-center justify-center border-b-2 before:mb-2 before:font-mono before:text-sm before:content-[counter(section,decimal-leading-zero)] border-transparent before:text-slate-500 hover:bg-blue-50/40 hover:before:text-slate-900" href="@href">
                                    @Html.Raw(childContent)
                                </a>
                            }
                        </li>
                    }

                    RenderNavLink("/", "<span class=\"hidden lg:inline\">ServiceStack APIs</span><span class=\"lg:hidden\">APIs</span>");
                    RenderNavLink("/auto-ui", "Built In UIs");
                    RenderNavLink("/autoquery", "AutoQuery");
                    RenderNavLink("/blazor", "Blazor");
                    RenderNavLink("/flutter", "Flutter");
                }
            </ol>
        </div>
    </div>
</section>