@page "/"
@attribute [RenderStatic]
@inject Blog Blog
@{
    ViewData["Title"] = "ServiceStack";
}

<div class="relative isolate overflow-hidden bg-gray-900">
  <svg class="absolute inset-0 -z-10 h-full w-full stroke-white/10 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
    <defs>
      <pattern id="983e3e4c-de6d-4c3f-8d64-b9761d1534cc" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
        <path d="M.5 200V.5H200" fill="none" />
      </pattern>
    </defs>
    <svg x="50%" y="-1" class="overflow-visible fill-gray-800/20">
      <path d="M-200 0h201v201h-201Z M600 0h201v201h-201Z M-400 600h201v201h-201Z M200 800h201v201h-201Z" stroke-width="0" />
    </svg>
    <rect width="100%" height="100%" stroke-width="0" fill="url(#983e3e4c-de6d-4c3f-8d64-b9761d1534cc)" />
  </svg>
  <svg viewBox="0 0 1108 632" aria-hidden="true" class="absolute top-10 left-[calc(50%-4rem)] -z-10 w-[69.25rem] max-w-none transform-gpu blur-3xl sm:left-[calc(50%-18rem)] lg:left-48 lg:top-[calc(50%-30rem)] xl:left-[calc(50%-24rem)]">
    <path fill="url(#175c433f-44f6-4d59-93f0-c5c51ad5566d)" fill-opacity=".2" d="M235.233 402.609 57.541 321.573.83 631.05l234.404-228.441 320.018 145.945c-65.036-115.261-134.286-322.756 109.01-230.655C968.382 433.026 1031 651.247 1092.23 459.36c48.98-153.51-34.51-321.107-82.37-385.717L810.952 324.222 648.261.088 235.233 402.609Z" />
    <defs>
      <linearGradient id="175c433f-44f6-4d59-93f0-c5c51ad5566d" x1="1220.59" x2="-85.053" y1="432.766" y2="638.714" gradientUnits="userSpaceOnUse">
        <stop stop-color="#4F46E5" />
        <stop offset="1" stop-color="#80CAFF" />
      </linearGradient>
    </defs>
  </svg>
  <div class="mx-auto max-w-7xl px-6 pt-10 pb-24 sm:pb-32 lg:flex lg:py-40 lg:px-8">
    <div class="mx-auto max-w-2xl flex-shrink-0 lg:mx-0 lg:max-w-xl lg:pt-8">
      <svg class="h-16 w-16 text-indigo-600" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="currentColor" d="M10 6c1.544 1.76 2.276 4.15 2.217 6.61c3.968 1.67 9.924 6.12 11.181 12.39H28C26.051 14.31 14.918 6.77 10 6zm-2 7c4.67 4.913.81 11.582-4 12h18.97C21.5 18.289 11.95 13.533 8 13z"/></svg>
      <div class="mt-24 sm:mt-32 lg:mt-16">
        <a href="/whatsnew" class="inline-flex space-x-6">
          <span class="rounded-full bg-indigo-500/10 px-3 py-1 text-sm font-semibold leading-6 text-indigo-400 ring-1 ring-inset ring-indigo-500/20">What's new</span>
          <span class="inline-flex items-center space-x-2 text-sm font-medium leading-6 text-gray-300">
            <span>Just shipped v6.7</span>
            <svg class="h-5 w-5 text-gray-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
            </svg>
          </span>
        </a>
      </div>
      <h1 class="mt-10 text-4xl font-bold tracking-tight text-white sm:text-6xl">Simplicity at Speed</h1>
      <p class="mt-6 text-lg leading-8 text-gray-300">
        One framework to power them all. Write your HTTP APIs once and
        take advantage of end to end typed integrations for all popular Web, Mobile and Desktop platforms.
      </p>
      <div class="mt-10 flex items-center gap-x-6">
        <a href="/start" class="rounded-md bg-indigo-500 px-3.5 py-2.5 text-lg text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-400">Get ServiceStack</a>
        <a href="https://docs.servicestack.net" class="text-sm font-semibold leading-6 text-white">Learn more <span aria-hidden="true">→</span></a>
      </div>
    </div>
    <div class="mx-auto mt-16 flex max-w-2xl sm:mt-24 lg:ml-10 lg:mt-0 lg:mr-0 lg:max-w-none lg:flex-none xl:ml-32">
      <div class="max-w-3xl flex-none sm:max-w-5xl lg:max-w-none">
        <img src="https://servicestack.net/images/whatsnew/v6.5/dark-and-light-mode.png" alt="App screenshot" width="2432" height="1442" class="w-[76rem] rounded-md bg-white/5 shadow-2xl ring-1 ring-white/10">
      </div>
    </div>
  </div>
  <div class="flex items-center justify-center -mt-24 pb-4">
      <a href="/start" class="mr-2 rounded bg-white/10 py-1 px-2 text-sm font-semibold text-white shadow-sm hover:bg-white/20">.NET</a>
      <a href="/start-netfx" class="mr-2 rounded bg-white/10 py-1 px-2 text-sm font-semibold text-white shadow-sm hover:bg-white/20">.NET Framework</a>
      <a href="/start-corefx" class="mr-2 rounded bg-white/10 py-1 px-2 text-sm font-semibold text-white shadow-sm hover:bg-white/20">ASP.NET Core FX</a>
  </div>
</div>


<div>

  <div class="sticky top-0 z-50">
    
    <div class="hidden sm:flex sm:h-32 sm:justify-center sm:border-b sm:border-slate-200 sm:bg-white/95 sm:[@@supports(backdrop - filter:blur(0))]:bg-white/80 sm:[@@supports(backdrop - filter:blur(0))]:backdrop-blur">
      <ol role="list" class="mb-[-2px] grid auto-cols-[minmax(0,15rem)] grid-flow-col text-base font-medium text-slate-900 [counter-reset:section]">
        <li class="flex [counter-increment:section]">
          <a class="flex w-full flex-col items-center justify-center border-b-2 before:mb-2 before:font-mono before:text-sm before:content-[counter(section,decimal-leading-zero)] border-blue-600 bg-blue-50 text-blue-600 before:text-blue-600" href="/#table-of-contents">
            <span class="hidden lg:inline">ServiceStack APIs</span><span class="lg:hidden">APIs</span>
          </a>
        </li>
        <li class="flex [counter-increment:section]">
          <a class="flex w-full flex-col items-center justify-center border-b-2 before:mb-2 before:font-mono before:text-sm before:content-[counter(section,decimal-leading-zero)] border-transparent before:text-slate-500 hover:bg-blue-50/40 hover:before:text-slate-900" href="/#screencasts">AutoQuery</a>
        </li>
        <li class="flex [counter-increment:section]">
          <a class="flex w-full flex-col items-center justify-center border-b-2 before:mb-2 before:font-mono before:text-sm before:content-[counter(section,decimal-leading-zero)] border-transparent before:text-slate-500 hover:bg-blue-50/40 hover:before:text-slate-900" href="/#resources">Blazor</a>
        </li>
        <li class="flex [counter-increment:section]">
          <a class="flex w-full flex-col items-center justify-center border-b-2 before:mb-2 before:font-mono before:text-sm before:content-[counter(section,decimal-leading-zero)] border-transparent before:text-slate-500 hover:bg-blue-50/40 hover:before:text-slate-900" href="/#pricing">Flutter</a>
        </li>
        <li class="flex [counter-increment:section]">
          <a class="flex w-full flex-col items-center justify-center border-b-2 before:mb-2 before:font-mono before:text-sm before:content-[counter(section,decimal-leading-zero)] border-transparent before:text-slate-500 hover:bg-blue-50/40 hover:before:text-slate-900" href="/#author">Vue</a>
        </li>
      </ol>
    </div>
  </div>
  
</div>

<section>
  <div id="key-features" class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Why ServiceStack?</h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">Simple, versatile, evolvable, resilient high-performance message-based APIs</p>
    </div>
  <div class="relative overflow-hidden pt-16">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <a href="https://youtu.be/Vae0ALalIP0">
        <img src="https://img.youtube.com/vi/Vae0ALalIP0/maxresdefault.jpg" alt="App screenshot" class="mb-[-12%] rounded-xl shadow-2xl ring-1 ring-gray-900/10" width="2432" height="1442">
      </a>
      <div class="relative" aria-hidden="true">
        <div class="absolute -inset-x-20 bottom-0 bg-gradient-to-t from-white pt-[7%]"></div>
      </div>
    </div>
  </div>    
    <dl class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 text-base leading-7 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <div>
        <dt class="font-semibold text-gray-900">Maximize Value and Reach of System APIs</dt>
        <dd class="mt-1 text-gray-600">
          Most features are centered around ServiceStack APIs which has become the most versatile in the world where the same APIs 
          can be consumed from HTTP in a myriad of data formats, via popular MQ Servers whilst supporting 
          new technologies like gRPC without sacrificing any native HTTP integrations.
        </dd>
      </div>

      <div>
        <dt class="font-semibold text-gray-900">Ultimate Developer Productivity</dt>
        <dd class="mt-1 text-gray-600">
          ServiceStack makes it as simple as possible for API Consumers to call your APIs, with native end-to-end 
          typed integrations to 10 of the most popular languages used in creating Web, Mobile & Desktop Apps, 
          that they can easily add/update from within their favorite IDE.
        </dd>
      </div>

      <div>
        <dt class="font-semibold text-gray-900">Remote Services Best Practices</dt>
        <dd class="mt-1 text-gray-600">
          ServiceStack adopts a message-based design that embraces the SOA Integration Patterns Remote Facade, DTO and 
          Service Gateway patterns whose benefits positions ServiceStack in a rarefied breed of frameworks to enable optimal 
          end-to-end typed API integrations without code-gen in .NET Apps.
        </dd>
      </div>

      <div>
        <dt class="font-semibold text-gray-900">Benefits of message-based design</dt>
        <dd class="mt-1 text-gray-600">
          Unlike RPC, messages can be evolved, intercepted, routed & serialized with natural decoupling of an APIs coarse-grained DTO contracts allowing front & back-end developers to collaborate on an agreed high-level API design free of detail concerns for their independent implementations.
        </dd>
      </div>

      <div>
        <dt class="font-semibold text-gray-900">Consistent & Simplified Development Model</dt>
        <dd class="mt-1 text-gray-600">
          The benefit afforded by capturing an entire API boundary into impl-free Service Contracts extends to all natively supported languages who only need be concerned with generating declarative DTOs resulting in types encapsulating richer metadata beyond what's possible in other code-gen solutions.
        </dd>
      </div>

      <div>
        <dt class="font-semibold text-gray-900">Preserve Investments</dt>
        <dd class="mt-1 text-gray-600">
          ServiceStack has been consistently promoting the same remote service best-practices for over a decade, whose adoption of its time-tested patterns has survived beyond several abandoned .NET Web Service frameworks during its lifetime with any investments having failed along with them.
        </dd>
      </div>
    </dl>
  </div>
</div>
</section>

@await Html.PartialAsync("Testimonials")


<script type="module">
import { mount } from "/mjs/app.mjs"
</script>