@page "/"
@attribute [RenderStatic]
@inject Blog Blog
@{
    ViewData["Title"] = "ServiceStack";
}

<section class="relative isolate overflow-hidden bg-gray-900">
  <svg class="absolute inset-0 -z-10 h-full w-full stroke-white/10 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
    <defs>
      <pattern id="983e3e4c-de6d-4c3f-8d64-b9761d1534cc" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
        <path d="M.5 200V.5H200" fill="none" />
      </pattern>
    </defs>
    <svg x="50%" y="-1" class="overflow-visible fill-gray-800/20">
      <path d="M-200 0h201v201h-201Z M600 0h201v201h-201Z M-400 600h201v201h-201Z M200 800h201v201h-201Z" stroke-width="0" />
    </svg>
    <rect width="100%" height="100%" stroke-width="0" fill="url(#983e3e4c-de6d-4c3f-8d64-b9761d1534cc)" />
  </svg>
  <svg viewBox="0 0 1108 632" aria-hidden="true" class="absolute top-10 left-[calc(50%-4rem)] -z-10 w-[69.25rem] max-w-none transform-gpu blur-3xl sm:left-[calc(50%-18rem)] lg:left-48 lg:top-[calc(50%-30rem)] xl:left-[calc(50%-24rem)]">
    <path fill="url(#175c433f-44f6-4d59-93f0-c5c51ad5566d)" fill-opacity=".2" d="M235.233 402.609 57.541 321.573.83 631.05l234.404-228.441 320.018 145.945c-65.036-115.261-134.286-322.756 109.01-230.655C968.382 433.026 1031 651.247 1092.23 459.36c48.98-153.51-34.51-321.107-82.37-385.717L810.952 324.222 648.261.088 235.233 402.609Z" />
    <defs>
      <linearGradient id="175c433f-44f6-4d59-93f0-c5c51ad5566d" x1="1220.59" x2="-85.053" y1="432.766" y2="638.714" gradientUnits="userSpaceOnUse">
        <stop stop-color="#4F46E5" />
        <stop offset="1" stop-color="#80CAFF" />
      </linearGradient>
    </defs>
  </svg>
  <div class="mx-auto max-w-7xl px-6 pt-10 pb-24 sm:pb-32 lg:flex lg:py-40 lg:px-8">
    <div class="mx-auto max-w-2xl flex-shrink-0 lg:mx-0 lg:max-w-xl lg:pt-8">
      <svg class="h-16 w-16 text-indigo-600" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="currentColor" d="M10 6c1.544 1.76 2.276 4.15 2.217 6.61c3.968 1.67 9.924 6.12 11.181 12.39H28C26.051 14.31 14.918 6.77 10 6zm-2 7c4.67 4.913.81 11.582-4 12h18.97C21.5 18.289 11.95 13.533 8 13z"/></svg>
      <div class="mt-24 sm:mt-32 lg:mt-16">
        <a href="/whatsnew" class="inline-flex space-x-6">
          <span class="rounded-full bg-indigo-500/10 dark:bg-indigo-400/10 px-3 py-1 text-sm font-semibold leading-6 text-indigo-400 ring-1 ring-inset ring-indigo-500/20">What's new</span>
          <span class="inline-flex items-center space-x-2 text-sm font-medium leading-6 text-gray-300">
            <span>Just shipped v6.7</span>
            <svg class="h-5 w-5 text-gray-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
            </svg>
          </span>
        </a>
      </div>
      <h1 class="mt-10 text-4xl font-bold tracking-tight text-white sm:text-6xl">Simplicity at Speed</h1>
      <p class="mt-6 text-lg leading-8 text-gray-300">
        One framework to power them all. Write your HTTP APIs once and
        take advantage of end to end typed integrations for all popular Web, Mobile and Desktop platforms.
      </p>
      <div class="mt-10 flex items-center gap-x-6">
        <a href="/start" class="rounded-md bg-indigo-500 px-3.5 py-2.5 text-lg text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-400">Get ServiceStack</a>
        <a href="https://docs.servicestack.net/why-servicestack" class="text-sm font-semibold leading-6 text-white">Learn more <span aria-hidden="true">→</span></a>
      </div>
    </div>
    <div class="mx-auto mt-16 flex max-w-2xl sm:mt-24 lg:ml-10 lg:mt-0 lg:mr-0 lg:max-w-none lg:flex-none xl:ml-32">
      <div class="max-w-3xl flex-none sm:max-w-5xl lg:max-w-none">
        <img src="https://servicestack.net/images/whatsnew/v6.5/dark-and-light-mode.png" alt="App screenshot" width="2432" height="1442" class="w-[76rem] rounded-md bg-white/5 shadow-2xl ring-1 ring-white/10">
      </div>
    </div>
  </div>
  @await Html.PartialAsync("StartLinks")
</section>

@await Html.PartialAsync("PrimaryNav", "/")

<section>
  <div id="key-features" class="bg-white dark:bg-black py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-gray-50 sm:text-4xl">Why ServiceStack?</h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">Simple, versatile, evolvable, resilient high-performance message-based APIs</p>
    </div>
  <div class="relative overflow-hidden pt-16">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <a href="https://youtu.be/Vae0ALalIP0">
        <img src="https://img.youtube.com/vi/Vae0ALalIP0/maxresdefault.jpg" alt="App screenshot" class="mb-[-12%] rounded-xl shadow-2xl ring-1 ring-gray-900/10" width="2432" height="1442">
      </a>
      <div class="relative dark:hidden" aria-hidden="true">
        <div class="absolute -inset-x-20 bottom-0 bg-gradient-to-t from-white pt-[7%]"></div>
      </div>
    </div>
  </div>    
    <dl class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 text-base leading-7 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <div>
        <dt class="font-semibold text-gray-900">Maximize Value and Reach of System APIs</dt>
        <dd class="mt-1 text-gray-600">
          Most features are centered around ServiceStack APIs which has become the most versatile in the world where the same APIs 
          can be consumed from HTTP in a myriad of data formats, via popular MQ Servers whilst supporting 
          new technologies like gRPC without sacrificing any native HTTP integrations.
        </dd>
      </div>

      <div>
        <dt class="font-semibold text-gray-900">Ultimate Developer Productivity</dt>
        <dd class="mt-1 text-gray-600">
          ServiceStack makes it as simple as possible for API Consumers to call your APIs, with native end-to-end 
          typed integrations to 10 of the most popular languages used in creating Web, Mobile & Desktop Apps, 
          that they can easily add/update from within their favorite IDE.
        </dd>
      </div>

      <div>
        <dt class="font-semibold text-gray-900">Remote Services Best Practices</dt>
        <dd class="mt-1 text-gray-600">
          ServiceStack adopts a message-based design that embraces the SOA Integration Remote Facade, DTO and 
          Service Gateway patterns whose uniquely benefits ServiceStack as the only Services framework
          to reuse API contracts enabling optimal end-to-end typed API integrations in .NET Apps without code-gen.
        </dd>
      </div>

      <div>
        <dt class="font-semibold text-gray-900">Benefits of message-based design</dt>
        <dd class="mt-1 text-gray-600">
          Unlike RPC, messages can be evolved, intercepted, routed & serialized with natural decoupling of an APIs coarse-grained DTO contracts allowing front & back-end developers to collaborate on an agreed high-level API design free of detail concerns for their independent implementations.
        </dd>
      </div>

      <div>
        <dt class="font-semibold text-gray-900">Consistent & Simplified Development Model</dt>
        <dd class="mt-1 text-gray-600">
          The benefit afforded by capturing an entire API boundary into impl-free Service Contracts extends to all natively supported languages who only need be concerned with generating declarative DTOs resulting in types encapsulating richer metadata beyond what's possible in other code-gen solutions.
        </dd>
      </div>

      <div>
        <dt class="font-semibold text-gray-900">Preserve Investments</dt>
        <dd class="mt-1 text-gray-600">
          ServiceStack has been consistently promoting the same remote service best-practices for over a decade, whose adoption of its time-tested patterns has survived beyond several abandoned .NET Web Service frameworks during its lifetime with any investments having failed along with them.
        </dd>
      </div>
    </dl>
  </div>
</div>
</section>

@await Html.PartialAsync("Testimonials")

<link rel="stylesheet" href="/css/typography.css">

@await Html.PartialAsync("VideoGroup", new Shared.VideoGroup {
  Title = "ServiceStack APIs",
  Summary = "Effortlessly create feature-rich APIs and Web Apps with ServiceStack",
  Group = "apis"
})

@await Html.PartialAsync("VideoGroup", new Shared.VideoGroup {
  Title = "Project Templates",
  Summary = "Get Started quickly with your preferred frameworks with our growing project templates",
  Group = "projects",
  LearnMore = "https://docs.servicestack.net/templates-overview",
  Background = "bg-slate-100 dark:bg-slate-800",
})

@await Html.PartialAsync("VideoGroup", new Shared.VideoGroup {
  Title = "Add ServiceStack Reference",
  Summary = "High performance end-to-end typed APIs that integrate with any platform",
  LearnMore = "https://docs.servicestack.net/add-servicestack-reference", 
  Group = "ss-ref",
})

@await Html.PartialAsync("VideoGroup", new Shared.VideoGroup {
  Title = "Mobile Apps",
  Summary = "Maximize utility of your APIs with native integrations to all popular languages used in Mobile Apps",
  Group = "mobile",
  LearnMore = "https://docs.servicestack.net/clients-overview", 
  Background = "bg-slate-100 dark:bg-slate-800",
})

@await Html.PartialAsync("Home/Languages")

@await Html.PartialAsync("VideoGroup", new Shared.VideoGroup {
  Title = "gRPC",
  Summary = "ServiceStack’s gRPC support enables a highly productive development environment for developing high-performance gRPC HTTP/2 Services by making ServiceStack’s existing typed Services available from ASP.NET’s gRPC endpoints",
  Group = "grpc",
  LearnMore = "https://docs.servicestack.net/grpc",
})

@await Html.PartialAsync("VideoGroup", new Shared.VideoGroup {
  Title = "Jupyter",
  Summary = "Jupyter is an exciting initiative to support an open standards, interactive computing platform where it provides the ideal integrated exploratory programming environment for data science and scientific computing.",
  Group = "jupyter",
  LearnMore = "https://docs.servicestack.net/jupyter-notebooks",
  Background = "bg-slate-100 dark:bg-slate-800",
})

@await Html.PartialAsync("VideoGroup", new Shared.VideoGroup {
  Title = "GitHub Actions & Deployments",
  Summary = "Setup your GitHub Actions for your ServiceStack project in minutes with our GitHub Action mix templates to suit a variety of situations.",
  Group = "actions",
  LearnMore = "https://docs.servicestack.net/github-action-templates",
})

@await Html.PartialAsync("VideoGroup", new Shared.VideoGroup {
  Title = "Features",
  Summary = "Learn about other exciting features in the ServiceStack",
  Group = "features",
  Background = "bg-slate-100 dark:bg-slate-800",
})

@await Html.PartialAsync("Home/Features")

<div class="relative isolate bg-gray-900">
  <div class="mx-auto grid max-w-7xl grid-cols-1 lg:grid-cols-2">
    <div class="relative px-6 pt-24 pb-20 sm:pt-32 lg:static lg:py-48 lg:px-8">
      <div class="mx-auto max-w-xl lg:mx-0 lg:max-w-lg">
        <div class="absolute inset-y-0 left-0 -z-10 w-full overflow-hidden ring-1 ring-white/5 lg:w-1/2">
          <svg class="absolute inset-0 h-full w-full stroke-gray-700 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
            <defs>
              <pattern id="54f88622-e7f8-4f1d-aaf9-c2f5e46dd1f2" width="200" height="200" x="100%" y="-1" patternUnits="userSpaceOnUse">
                <path d="M130 200V.5M.5 .5H200" fill="none" />
              </pattern>
            </defs>
            <svg x="100%" y="-1" class="overflow-visible fill-gray-800/20">
              <path d="M-470.5 0h201v201h-201Z" stroke-width="0" />
            </svg>
            <rect width="100%" height="100%" stroke-width="0" fill="url(#54f88622-e7f8-4f1d-aaf9-c2f5e46dd1f2)" />
          </svg>
          <svg class="absolute top-[calc(100%-13rem)] -left-56 w-[72.1875rem] transform-gpu blur-3xl lg:top-[calc(50%-7rem)] lg:left-[max(-14rem,calc(100%-59rem))]" viewBox="0 0 1155 678" aria-hidden="true">
            <path fill="url(#0a9a5302-e517-46c6-85f0-d826aa6a313e)" fill-opacity=".2" d="M317.219 159.025 203.852 0 0 239.659l317.219-80.634 204.172 286.402c1.307-132.337 45.083-346.658 209.733-145.248C936.936 551.942 882.053 772.234 1031.02 636.67c119.18-108.452 130.68-295.338 121.53-375.224L855 379l21.173-362.054-558.954 142.079Z" />
            <defs>
              <linearGradient id="0a9a5302-e517-46c6-85f0-d826aa6a313e" x1="1155.49" x2="-78.208" y1="677.823" y2="203.355" gradientUnits="userSpaceOnUse">
                <stop stop-color="#4F46E5" />
                <stop offset="1" stop-color="#80CAFF" />
              </linearGradient>
            </defs>
          </svg>
        </div>
        <h2 class="text-3xl font-bold tracking-tight text-white">Contact sales</h2>
        <p class="mt-6 text-lg leading-8 text-gray-300">
          If you have any Sales or Licensing questions please 
          <a class="font-semibold text-white" href="mailto:team@servicestack.net">email us</a> 
          and we will do everything we can to take care of you.
        </p>
        <dl class="mt-10 space-y-4 text-base leading-7 text-gray-300">
          <div class="flex gap-x-4">
            <dt class="flex-none">
              <span class="sr-only">Telephone</span>
              <svg class="h-7 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
              </svg>
            </dt>
            <dd><a class="hover:text-white" href="mailto:team@servicestack.net">team@servicestack.net</a></dd>
          </div>
        </dl>
      </div>
    </div>
    <div id="contact-us"></div>
  </div>
</div>


<script type="module">
import { ref } from "vue"
import { ApiResult } from "@@servicestack/client"
import { useClient } from "@@servicestack/vue"
import { SendMessage } from "/mjs/dtos.mjs"
import { mount } from "/mjs/app.mjs"

const ContactUs = {
  template:`<form v-if="!api.succeeded" v-on:submit.prevent="submit" method="POST" class="dark px-6 pb-24 pt-20 sm:pb-32 lg:py-48 lg:px-8">
    <div class="mx-auto max-w-xl lg:mr-0 lg:max-w-lg">
      <div class="grid grid-cols-1 gap-y-6 gap-x-8 sm:grid-cols-2">
        <TextInput v-model="request.displayName" id="displayName" label="Name" placeholder="" autocomplete="name" />
        <TextInput v-model="request.email" id="email" placeholder="" autocomplete="email" />
        <TextareaInput v-model="request.body" id="body" label="Message" placeholder="" class="col-span-2" rows="4" />
        <div class="col-span-2 flex justify-end">
            <div class="flex items-center">
                <svg v-if="api.loading" class="w-6 h-6 mr-4 align-middle" width="38" height="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
                    <g fill="none" fill-rule="evenodd">
                        <g transform="translate(1 1)" stroke-width="2">
                            <circle stroke-opacity=".5" cx="18" cy="18" r="18"/>
                            <path d="M36 18c0-9.94-8.06-18-18-18"><animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"/></path>
                        </g>
                    </g>
                </svg>
                <PrimaryButton :disabled="api.loading">Send Message</PrimaryButton>            
            </div>
        </div>
      </div>
    </div>
  </form>
  <div v-else class="flex">
    <div class="mx-auto grid grid-cols-1">
        <div class="px-6 pt-24 pb-20 sm:pt-32 lg:py-48 lg:px-8">
            <div class="max-w-lg">
                <h2 class="text-3xl font-bold tracking-tight text-white">Thank you for getting in touch!</h2>
                <p class="mt-6 text-lg leading-8 text-gray-300">
                    We appreciate you contacting ServiceStack. <br> 
                    We will get back in touch with you soon!
                </p>
            </div>
        </div>
    </div>
  </div>`,
  setup() {
    const request = ref(new SendMessage())
    const api = ref(new ApiResult())
    const client = useClient()
    async function submit(e) {
      api.value.loading = true
      api.value = await client.apiForm(new SendMessage(), new FormData(e.target))
    }
    return { request, api, submit }
  }
}

mount('#contact-us', ContactUs)
</script>