@page "/support"
@attribute [RenderStatic]

@{
    ViewData["Title"] = "Support";
    ViewData["Brand"] = "ServiceStack Support";
}

@await Html.PartialAsync("Hero", new Shared.Hero {
    BackgroundUrl = "/img/backgrounds/bg-header8.jfif",
    BackgroundClass = "",
    Heading = "Commercial Support",
    SubHeading = "Registered developers with an active Commercial License can access technical support directly from ServiceStack engineers via the support channels below",
    ContentStyle = "",
})

@await Html.PartialAsync("PrimaryNav", "")

<div class="relative bg-white dark:bg-black mb-8 py-8 sm:py-12 lg:py-16">
    <div class="mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="mt-12">
            <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">

                <div class="pt-6">
                    <div class="flow-root rounded-lg bg-gray-50 dark:bg-gray-900 px-6 pb-8">
                        <div class="-mt-6">
                            <div>
                                <a href="https://forums.servicestack.net" class="inline-flex items-center justify-center rounded-md bg-indigo-500 p-2 shadow-lg text-white">
                                    <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12.077 3C7.149 3 3 6.96 3 11.843V21l9.075-.01c4.928 0 8.925-4.11 8.925-8.993C21 7.113 17 3 12.077 3zm3.92 12.859a5.568 5.568 0 0 1-6.102 1.043l-3.595.805l1.001-3.192a5.435 5.435 0 0 1 .11-5.415a5.55 5.55 0 0 1 4.753-2.678v.001h.006a5.533 5.533 0 0 1 5.131 3.438a5.442 5.442 0 0 1-1.304 5.998z"/></svg>
                                </a>
                            </div>
                            <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900 dark:text-gray-50">Customer Forums</h3>
                            <p class="mt-5 text-base text-gray-500">
                                We're here to help! Active Customers can get technical support from our
                                <a class="text-indigo-600 hover:text-indigo-800" href="https://forums.servicestack.net">Customer Forums</a>.
                            </p>
                            <p class="mt-5 text-base text-gray-500">
                                Your email needs to match your Account's email or a
                                <a class="text-indigo-600 hover:text-indigo-800" href="https://servicestack.net/account/support">registered support contact</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="pt-6">
                    <div class="flow-root rounded-lg bg-gray-50 dark:bg-gray-900 px-6 pb-8">
                        <div class="-mt-6">
                            <div>
                                <a href="https://github.com/ServiceStack/Issues" class="inline-flex items-center justify-center rounded-md bg-indigo-500 p-2 shadow-lg text-white">
                                    <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33c.85 0 1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2Z"/></svg>
                                </a>
                            </div>
                            <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900 dark:text-gray-50">Report a bug issue</h3>
                            <p class="mt-5 text-base text-gray-500">
                                If you've found an issue in anyone of our libraries, please report it to our <br>
                                <a class="text-indigo-600 hover:text-indigo-800" href="https://github.com/ServiceStack/Issues">GitHub Issues repository</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="pt-6">
                    <div class="flow-root rounded-lg bg-gray-50 dark:bg-gray-900 px-6 pb-8">
                        <div class="-mt-6">
                            <div>
                                <a href="https://servicestack.net/ideas" class="inline-flex items-center justify-center rounded-md bg-indigo-500 p-2 shadow-lg text-white">
                                    <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path fill="currentColor" d="M0 262q0 43 24.5 81T90 405q-2 7-4.5 18t-7 34.5t-3.5 39T85 512q30 0 60.5-16t48.5-32t19-16q55 0 107-21q-6-2-22.5-12T277 405h-64q-18 0-38 20q-28 25-53 36l6-77l-17-15q-68-44-68-107q0-16 6-36q-4-6-5.5-18.5T42 185v-23l1-13Q0 195 0 262zM299 0q-89 0-151.5 52T85 177q0 72 62 118t152 46q1 0 20.5 21.5t51.5 43t62 21.5q7 0 8.5-11t-1.5-26.5t-7-31.5t-7-27l-4-11q41-25 65.5-62.5T512 177q0-73-62.5-125T299 0zm102 284l-28 17l11 32q2 5 5 17t6 19q-22-15-52-45q-23-25-42-25q-70 0-120.5-32.5T130 177q-1-56 48.5-95T299 43t120.5 39t49.5 95q0 63-68 107z"/></svg>
                                </a>
                            </div>
                            <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900 dark:text-gray-50">Report a bug issue</h3>
                            <p class="mt-5 text-base text-gray-500">
                                <a class="text-indigo-600 hover:text-indigo-800" href="https://servicestack.net/ideas">Request a new Feature</a> 
                                or additional docs, samples and use-cases you would like to see in ServiceStack
                            </p>
                        </div>
                    </div>
                </div>

                <div class="pt-6">
                    <div class="flow-root rounded-lg bg-gray-50 dark:bg-gray-900 px-6 pb-8">
                        <div class="-mt-6">
                            <div>
                                <a href="https://account.servicestack.net/account/support" class="inline-flex items-center justify-center rounded-md bg-indigo-500 p-2 shadow-lg text-white">
                                    <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19.79 15.41c.95-2.17.95-4.66 0-6.82l-2.74 1.24c.6 1.38.6 2.95.01 4.34l2.73 1.24m-4.37-11.2a8.54 8.54 0 0 0-6.83 0l1.24 2.73c1.39-.59 2.96-.59 4.35.01l1.24-2.74M4.21 8.58a8.564 8.564 0 0 0 0 6.84l2.74-1.25c-.6-1.38-.6-2.96 0-4.35L4.21 8.58m4.38 11.21a8.5 8.5 0 0 0 6.83-.01l-1.24-2.73a5.5 5.5 0 0 1-4.34.01l-1.25 2.73M12 2a10 10 0 0 1 10 10a10 10 0 0 1-10 10A10 10 0 0 1 2 12A10 10 0 0 1 12 2m0 6a4 4 0 0 0-4 4a4 4 0 0 0 4 4a4 4 0 0 0 4-4a4 4 0 0 0-4-4Z"/></svg>
                                </a>
                            </div>
                            <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900 dark:text-gray-50">Premium Support</h3>
                            <p class="mt-5 text-base text-gray-500">
                                Need direct support from one of ServiceStack's expert engineers?
                            </p>
                            <p class="mt-5 text-base text-gray-500">
                                Go to <a class="text-indigo-600 hover:text-indigo-800" href="https://account.servicestack.net/account/support">your Support page</a> to access your premium support options
                            </p>
                        </div>
                    </div>
                </div>

                <div class="pt-6">
                    <div class="flow-root rounded-lg bg-gray-50 dark:bg-gray-900 px-6 pb-8">
                        <div class="-mt-6">
                            <div>
                                <a href="mailto:team@servicestack.net" class="inline-flex items-center justify-center rounded-md bg-indigo-500 p-2 shadow-lg text-white">
                                    <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6m-2 0l-8 5l-8-5h16m0 12H4V8l8 5l8-5v10Z"/></svg>
                                </a>
                            </div>
                            <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900 dark:text-gray-50">Account, billing or other?</h3>
                            <p class="mt-5 text-base text-gray-500">
                                <a class="text-indigo-600 hover:text-indigo-800" href="mailto:team@servicestack.net">Email us</a>
                                if you need to renew your existing subscription or change your Account's email.
                            </p>
                            <p class="mt-5 text-base text-gray-500">
                                <a class="text-indigo-600 hover:text-indigo-800" href="https://account.servicestack.net/account/subscription">Sign In</a> 
                                with your Email to access your account
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>